<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>{{ __title__|e }} - {{ site_name|e }}</title>
    <!--[if lt IE 9]>
        <script src="{{ __theme_path__ }}/static/js/html5.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="{{ __theme_path__ }}/static/css/bootstrap.css" />
    <link rel="stylesheet" href="{{ __theme_path__ }}/static/css/child.css" />

    <script type="text/javascript" src="{{ __theme_path__ }}/static/js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="{{ __theme_path__ }}/static/js/jquery.postjson.js"></script>
    <script type="text/javascript" src="{{ __theme_path__ }}/static/js/bootstrap.min.js"></script>
    <script type="text/javascript">

function random_star_position() {
    var w = $(document).width() - 980;
    var h = 280;
    r = Math.round(Math.random() * w) - w / 2;
    if (r < 0) {
        return { left: r-20, top: Math.round(Math.random() * h) }
    }
    return { left: 980 + r, top: Math.round(Math.random() * h) }
}

function timer_show_star(star_id) {
    var p = random_star_position();
    $('#' + star_id).css('left', p.left + 'px').css('top', p.top + 'px').fadeIn(2000).delay(2000).fadeOut(2000, function() {
        setTimeout('timer_show_star("' + star_id + '")', 2000 + Math.round(Math.random() * 3000));
    });
}

$(function() {
    for (var i=1; i<=6; i++) {
        timer_show_star('div-star-' + i);
    }
})
    </script>
</head>
<body>
    <div class="c-main-bg">
        <div id="div-container" class="container">
            <div class="row">
                <div class="span12">
                    <div id="div-abs-position">
                        <div id="div-star-1" class="c-star c-star-1"></div>
                        <div id="div-star-2" class="c-star c-star-2"></div>
                        <div id="div-star-3" class="c-star c-star-3"></div>
                        <div id="div-star-4" class="c-star c-star-3"></div>
                        <div id="div-star-5" class="c-star c-star-4"></div>
                        <div id="div-star-6" class="c-star c-star-4"></div>
                        <div class="c-girl-on-left"></div>
                        <div class="c-witch-on-right"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="span12">
                    <div class="c-h1">{{ site_name|e }}</div>
                </div>
            </div>
            <div class="row">
                <div class="span10">
                    <ul id="nav-menus" class="nav nav-pills c-nav">
{% for m in __menus__ %}
                        <li class="{{ m.type }}{{ m.ref }}"><a href="{{ m.url }}">{{ m.name }}</a></li>
{% endfor %}
                    </ul>
                </div>
<script type="text/javascript">
    $('#nav-menus li.{{ __active_menu__ }}').addClass('active');
</script>

                <div class="span2">
                    <div class="pull-right c-div-siginin">
{% if ctx.user %}
                        Welcome, <a href="/profile">{{ ctx.user.name }}</a>! <a href="/signout">{{ _('Sign Out') }}</a></div>
{% else %}
                        <a href="/signin">{{ _('Sign In') }}</a>
{% endif %}
                </div>
            </div>
            <div class="row">
                <div class="span12">
                    <div id="div-main-content-top"></div>
                </div>
            </div>
            <div class="row" style="background-color: #eff5ef;">
                <div class="span12">
<!-- END __inc_header -->
