{% include __get_theme_path__('__inc_header.html') %}

<div class="row">
    <div class="span9">
        <div id="div-main-content">
            <div class="c-photos">
{% for p in photos %}
                <div class="c-photo">
                    <a href="/photo/{{ p.id }}" class="c-photo-img" style="background-image:url(/api/resource/url/{{ p.preview_resource_id }})"></a>
                </div>
{% endfor %}
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="span3">
        <div class="r-sidebar">
            <div class="c-box">
                <h3>Album</h3>
                <div class="c-albums">
                    <div class="c-album">
    {% set url = '/static/img/empty-album.png' %}
    {% if album.cover_resource_id %}
        {% set url = '/api/resource/url/%s' % album.cover_resource_id %}
    {% endif %}
                        <a href="/album/{{ album.id }}" class="c-album-img" style="background-image:url({{ url }})"></a>
                        <div class="c-album-name">{{ album.name|e }}</div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>

{% include __get_theme_path__('__inc_footer.html') %}
