{% include __get_theme_path__('__inc_header.html') %}

<div class="row">
    <div class="span9">
        <div id="div-main-content">
            <div class="c-article">
                <h3>{{ page.name|e }}</h3>
                {{ page.content }}
            </div>
        </div>
    </div>

    <div class="span3">
        <div class="r-sidebar">
            <div class="c-box">
                <h3>All Categories</h3>
{% for c in __layout_categories__ %}
                <p><a href="/category/{{ c.id }}">{{ c.name|e }}</a></p>
{% endfor %}
            </div>
        </div>
    </div>
</div>

{% include __get_theme_path__('__inc_footer.html') %}
