<script>

function filesize(size) {
    if (size<=0)
        return '';
    if (size < 1024)
        return size + 'B';
    size = size / 1024.0;
    if (size < 1024)
        return size.toFixed(2) + 'K';
    size = size / 1024.0;
    if (size < 1024)
        return size.toFixed(2) + 'M';
    size = size / 1024.0;
    return size.toFixed(2) + 'G';
}

$(function() {
    $('a.x-btn-delete').each(function() {
        $(this).click(function() {
            var $btn = $(this);
            var prompt = $btn.attr('prompt');
            var rel = $btn.attr('rel');

            show_confirm('Deletion Confirm', 'Are you sure you want to delete the attachment "' + prompt + '"?', function(btn, fn_hide) {
                $.postJSON('/api/attachments/' + rel + '/delete', {}, function(result) {
                    refresh();
                }, function(err) {
                    fn_hide();
                    show_error(err.message || err.error, err.data);
                });
            });
        });
    });
});

</script>

<div class="row">
    <div class="span10">
        <h3>{{ _('All Attachments') }}</h3>
    </div>

    <div class="span10">
        <div class="btn-toolbar" style="text-align:right">
            <a href="add_attachment" class="btn btn-primary"><i class="icon-upload icon-white"></i> {{ _('Upload New File') }}</a>
        </div>
    </div>

    <div class="span10">
        <div class="alert alert-error hide"></div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th style="width:15%">{{ _('Thumbnail') }}</th>
                    <th style="width:45%">{{ _('Name') }}</th>
                    <th style="width:10%">{{ _('Size') }}</th>
                    <th style="width:20%">{{ _('Creation Date') }}</th>
                    <th style="width:10%">&nbsp;</th>
                </tr>
            </thead>
            <tbody>
{% for a in attachments %}
                <tr>
                    <td>
                        <div style="display:block;width:90px;text-align:center">
    {% if a.preview_resource_id %}
                            <img src="/api/resource/url?id={{ a.preview_resource_id }}" />
    {% else %}
                            <p>{{ a.mime }}</p>
    {% endif %}
                        </div>
                    </td>
                    <td><a href="/api/resource/url?id={{ a.resource_id }}" target="_blank">{{ a.name|e }}</a></td>
                    <td><script type="text/javascript"> document.write(filesize({{ a.size }})); </script></td>
                    <td>{{ a.creation_time|dt }}</td>
                    <td>
                        <a href="?action=edit&id={{ a.id }}" class="x-btn"><i class="icon-edit"></i></a>
                        <a rel="{{ a.id }}" data-toggle="tooltip" title="Delete this attachment" href="javascript:void(0)" class="x-btn x-btn-delete" prompt="{{ a.name|e }}"><i class="icon-trash"></i></a>
                    </td>
                </tr>
{% endfor %}
            </tbody>
        </table>
        {{ pagination(page, '?page=') }}
    </div>
</div>
