<script>

var g_initial_text = '';

function ajax_post(form) {
    show_error(null);
    show_loading(true);
    if (g_initial_text!=$('#markdown-editor').val()) {
        // update content only if it is changed:
        $('#markdown-editor').attr('name', 'content');
    }
    $.postJSON($(form).attr('action'), $(form).serialize(), function(result) {
        location.assign('{{ redirect }}');
    }, function(err) {
        show_loading(false);
        show_error(err.message, err.data);
    });
    return false;
}

$(function() {
    g_initial_text = $('#markdown-editor').val();
    $('#markdown-editor').removeAttr('disabled');
    $('#markdown-editor').markdown();
});

</script>

<div class="row">
    <div class="span10">
        <h3>{{ form_title }}</h3>
    </div>
    <div class="span10">
        <div class="alert alert-error hide"></div>
        <form name="form" action="{{ form_action }}" method="post" class="form-horizontal" onsubmit="return ajax_post(this)">
            <fieldset>
                <div class="field-name control-group">
                    <label class="control-label">{{ _('Name') }}:</label>
                    <div class="controls">
                        <input name="name" type="text" value="{{ name|e }}" class="input-xlarge" style="width:600px;" />
                    </div>
                </div>
{% if not static %}
                <div class="field-category_id control-group">
                    <label class="control-label">{{ _('Categories') }}:</label>
                    <div class="controls">
    {% for c in category_list %}
                        <label class="checkbox">
                            <input name="category_id" type="checkbox" value="{{ c.id }}"
        {% if c.id in categories %}
                                checked="checked"
        {% endif %}
                            > {{ c.name|e }}
                        </label>
    {% else %}
                        <label>No category defined.</label>
    {% endfor %}
                    </div>
                </div>
{% endif %}
                <div class="field-tags control-group">
                    <label class="control-label">{{ _('Tags') }}:</label>
                    <div class="controls">
                        <input name="tags" type="text" value="{{ tags|e }}" class="input-xlarge" style="width:600px;" />
                        <span class="help-inline">Tags seperated by ,</span>
                    </div>
                </div>
{% if not static and can_publish %}
                <div class="field-publish_time control-group">
                    <label class="control-label">{{ _('Publish Time') }}:</label>
                    <div class="controls">
                        <input name="publish_time" type="text" value="{{ publish_time and publish_time|dt('%Y-%m-%d %H:%M:%S') }}" />
                        <span class="help-inline">Publish immediately if leave blank.</span>
                    </div>
                </div>
                <div class="field-draft control-group">
                    <label class="control-label">{{ _('Draft') }}:</label>
                    <div class="controls">
                        <label class="checkbox">
                            <input name="draft" type="checkbox" value="true"
        {% if draft %}
                                checked="checked"
        {% endif %}
                            > {{ _('Save article as draft') }}
                        </label>
                    </div>
                </div>
{% endif %}
                <div class="field-content control-group">
                    <label class="control-label">{{ _('Content') }}:</label>
                    <div class="controls">
                        <textarea id="markdown-editor" rows="20" disabled="disabled" style="width:600px;">{{ content|e }}</textarea>
                    </div>
                </div>
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary"><i class="icon-ok icon-white"></i> {{ _('Save') }}</button>
                    <a href="{{ redirect }}" class="btn"><i class="icon-remove"></i> {{ _('Cancel') }}</a>
                </div>
            </fieldset>
        </form>
    </div>
</div>
