<script type="text/JavaScript">
    var CATEGORIES = {
// {% for c in categories %}
        '{{ c.id }}': '{{ c.name|jsstr }}',
// {% endfor %}
    };
    var CATEGORIES_LIS = [{% for c in categories %} ['{{ c.id }}', '{{ c.name|jsstr }}'], {% endfor %}];

    var CATEGORIES_SELECT_OPTIONS = '{% for c in categories %} <option value="{{ c.id }}">{{ c.name|e }}</option> {% endfor %}';

    function move_to(article_id, category_id) {
        var m = '#div-move-' + article_id;
        if ($(m).attr('data')==category_id) {
            return;
        }
        $(m + ' a.btn').removeClass('btn-warning').addClass('disabled');
        $(m + ' span.loading').show();
        $.postJSON('/api/articles/update', 'id=' + article_id + '&category_id=' + category_id).success(function(result) {
            if (result.error) {
                $(m + ' a.btn').addClass('btn-warning');
            }
            else {
                $(m + ' a.btn span.name').text(CATEGORIES[category_id]);
                $(m).attr('data', category_id);
            }
        }).error(function() {
            $(m + ' a.btn').addClass('btn-warning');
        }).complete(function() {
            $(m + ' span.loading').hide();
            $(m + ' a.btn').removeClass('disabled');
        });
    }

    function move(article_id, ahref_id, value) {
        if (value==$('#' + ahref_id).attr('rel')) {
            return;
        }
        $('#' + ahref_id).removeClass('x-error').hide();
        $('span.loading-' + article_id).show();
        $.postJSON('/api/articles/update', 'id=' + article_id + '&category_id=' + value).success(function(result) {
            if (result.error) {
                $('#' + ahref_id).addClass('x-error');
            }
            else {
                $('#' + ahref_id).attr('rel', value);
                $('#' + ahref_id + ' span.name').text(CATEGORIES[value]);
            }
        }).error(function() {
            $('#' + ahref_id).addClass('x-error');
        }).complete(function() {
            $('span.loading-' + article_id).hide();
            $('#' + ahref_id).show();
        });

    }

    function create_select(select_id, value) {
        var s = '<select id="' + select_id + '" style="width:200px">';
        for (var i=0; i<CATEGORIES_LIS.length; i++) {
            var cid = CATEGORIES_LIS[i][0];
            var cname = CATEGORIES_LIS[i][1];
            var selected = value==cid ? ' selected' : '';
            s = s + '<option value="' + cid + '"' + selected + '>' + $('<div/>').text(cname).html() + '</option>';
        }
        s = s + '</select>';
        return s;
    }

    $(function() {
        $('a.x-btn-delete').each(function() {
            var aid = $(this).attr('id');
            var rel = $(this).attr('rel');
            $(this).popover({
                placement: 'top',
                html: true,
                title: 'Confirm Deletion',
                content: '<p>Are you sure you want to delete the <strong>'
                    + $(this).attr('prompt')
                    + '</strong>?</p>'
                    + '<div style="text-align:center"><button class="btn btn-danger" onclick="location.assign(\'?action=delete&id='
                    + rel + '\');">Delete</button> <button class="btn" onclick="$(\'#'
                    + aid + '\').popover(\'hide\')">Cancel</button></div>'
            });
        });
        $('a.x-btn-select').each(function() {
            var ahref = $(this);
            var aid = $(this).attr('id');
            var sid = 'sel-' + aid;
            var article_id = $(this).attr('prompt');
            $('#' + aid + ' span.name').text(CATEGORIES[ahref.attr('rel')]);

            function create_popover() {
                var rel = ahref.attr('rel');
                return '<div style="text-align:center">'
                    + create_select(sid, rel)
                    + '</div><div style="text-align:center"><button class="btn btn-primary" onclick="var v=$(\'#' + sid + '\').val();$(\'#'
                    + aid + '\').popover(\'hide\');move(\''
                    + article_id + '\',\'' + aid + '\',v);">OK</button> <button class="btn" onclick="$(\'#'
                    + aid + '\').popover(\'hide\')">Cancel</button></div>'
            }

            $(this).popover({
                placement: 'top',
                html: true,
                title: 'Move To Category',
                content: create_popover
            });
        });
    });
</script>

<div class="row">
    <div class="span10">
        <h3>{{ _('All Articles') }}</h3>
    </div>
</div>

<div class="row sep">
    <div class="span10">
        <a href="add_article" class="btn btn-primary pull-right">{{ _('Add Article') }}</a>
    </div>
</div>

<div class="row">
    <div class="span10">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th width="30%">{{ _('Name') }}</th>
                    <th width="20%">{{ _('Category') }}</th>
                    <th width="20%">{{ _('Author') }}</th>
                    <th width="20%">{{ _('Creation Date') }}</th>
                    <th width="10%">&nbsp;</th>
                </tr>
            </thead>
            <tbody>
{% for a in articles %}
                <tr id="tr-{{ a.id }}">
                    <td class="name"><a href="/article/{{ a.id }}" target="_blank">{{ a.name|e }}</a></td>
                    <td>
                        <a id="cat-{{ a.id }}" rel="{{ a.category_id }}" href="javascript:void(0)" class="x-btn-select x-editable" prompt="{{ a.id }}"><span class="name"></span></a>
                        <span class="loading loading-{{a.id}} hide"></span>
                    </td>
                    <td>{{ a.user_name|e }}</td>
                    <td>{{ a.creation_time|dt }}</td>
                    <td>
                        <a href="?action=edit&id={{ a.id }}" class="x-btn"><i class="icon-edit"></i></a>
                        <a id="delete-{{ a.id }}" rel="{{ a.id }}" href="javascript:void(0)" class="x-btn x-btn-delete" prompt="{{ a.name|e }}"><i class="icon-trash"></i></a>
                    </td>
                </tr>
{% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% include 'templates/admin/inc_page.html' %}
