<script type="text/JavaScript">
    function filesize(size) {
        if (size<=0)
            return '';
        if (size < 1024)
            return size + 'B';
        size = size / 1024.0;
        if (size < 1024)
            return size.toFixed(2) + 'K';
        size = size / 1024.0;
        if (size < 1024)
            return size.toFixed(2) + 'M';
        size = size / 1024.0;
        return size.toFixed(2) + 'G';
    }

    $(function() {
        $('a.x-btn-delete').each(function() {
            var aid = $(this).attr('id');
            var rel = $(this).attr('rel');
            $(this).popover({
                placement: 'top',
                html: true,
                title: 'Confirm Deletion',
                content: '<p>Are you sure you want to delete the <strong>'
                    + $(this).attr('prompt')
                    + '</strong>?</p>'
                    + '<div style="text-align:center"><button class="btn btn-danger" onclick="location.assign(\'?action=delete&id='
                    + rel + '\');">Delete</button> <button class="btn" onclick="$(\'#'
                    + aid + '\').popover(\'hide\')">Cancel</button></div>'
            });
        });
    });
</script>

<div class="row">
    <div class="span10">
        <h3>{{ _('All Attachments') }}</h3>
    </div>
</div>

<div class="row sep">
    <div class="span10">
        <a href="add_attachment" class="btn btn-primary pull-right">{{ _('Add Attachment') }}</a>
    </div>
</div>

<div class="row">
    <div class="span10">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>{{ _('Thumbnail') }}</th>
                    <th>{{ _('Name') }}</th>
                    <th>{{ _('Size') }}</th>
                    <th>{{ _('Uploaded Date') }}</th>
                    <th>{{ _('Operations') }}</th>
                </tr>
            </thead>
            <tbody>
{% for a in attachments %}
                <tr>
                    <td>
                        <div style="display:block;width:90px;text-align:center">
    {% if a.preview_resource_id %}
                            <img src="/api/resources/url?id={{ a.preview_resource_id }}" />
    {% else %}
                            <p>{{ a.mime }}</p>
    {% endif %}
                        </div>
                    </td>
                    <td><a href="/api/resources/url?id={{ a.resource_id }}" target="_blank">{{ a.name|e }}</a></td>
                    <td><script type="text/javascript"> document.write(filesize({{ a.size }})); </script></td>
                    <td>{{ a.creation_time|dt }}</td>
                    <td>
                        <a href="?action=edit&id={{ a.id }}" class="x-btn"><i class="icon-edit"></i></a>
                        <a id="delete-{{ a.id }}" rel="{{ a.id }}" href="javascript:void(0)" class="x-btn x-btn-delete" prompt="{{ a.name|e }}"><i class="icon-trash"></i></a>
                    </td>
                </tr>
{% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% include 'templates/admin/inc_page.html' %}
