<div class="row">
    <div class="span10">
        <h3>{{ form_title }}</h3>
    </div>
</div>

<div class="row sep"></div>

<div id="div-error" class="row hide">
    <div class="span10">
        <div class="alert alert-error">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <span id="span-error"></span>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function() {
        $('#file').change(function() {
            var f = $('#file').val();
            if (f!='') {
                if ($('#name').val()=='') {
                    var pos = Math.max(f.lastIndexOf('\\'), f.lastIndexOf('/'));
                    if (pos>0)
                        f = f.substring(pos+1);
                    var pos = f.lastIndexOf('.');
                    if (pos>0)
                        f = f.substring(0, pos);
                    $('#name').val(f);
                }
            }
            try {
                if (f!='') {
                    var lf = $('#file').get(0).files[0];
                    $('#span-prog-total').text(filesize(lf.size));
                    var ft = lf.type;
                    if (ft=='')
                        ft = 'binary';
                    if (ft=='image/png' || ft=='image/jpeg' || ft=='image/gif') {
                        $('#div-preview-image').css('background-image', 'url(' + getObjectURL(lf) + ')');
                        $('#div-preview-text').text('');
                    }
                    else {
                        $('#div-preview-image').css('background-image', '');
                        $('#div-preview-text').text(ft);
                    }
                }
                else {
                    $('#span-prog-total').text('0');
                    $('#div-preview-image').css('background-image', '');
                    $('#div-preview-text').text('preview');
                }
            }
            catch (e) {}
        });
    });

    function getObjectURL(file) {
        var url = '';
        if (window.createObjectURL!=undefined) // basic
            url = window.createObjectURL(file);
        else if (window.URL!=undefined) // mozilla(firefox)
            url = window.URL.createObjectURL(file);
        else if (window.webkitURL!=undefined) // webkit or chrome
            url = window.webkitURL.createObjectURL(file);
        return url;
    }

    function filesize(size) {
        if (size < 1024)
            return size + ' bytes';
        size = size / 1024.0;
        if (size < 1024)
            return size.toFixed(2) + ' KB';
        size = size / 1024.0;
        if (size < 1024)
            return size.toFixed(2) + ' MB';
        size = size / 1024.0;
        return size.toFixed(2) + ' GB';
    }

    function on_upload_progress(evt) {
        if (evt.lengthComputable) {
            var percent = evt.loaded * 100.0 / evt.total;
            $('#div-prog-bar').css('width', percent.toFixed(1) + '%');
            $('#span-prog-percent').text(percent.toFixed(1));
            $('#span-prog-loaded').text(filesize(evt.loaded));
        }
    }

    function on_upload_complete(evt) {
        var r = $.parseJSON(evt.target.responseText);
        if (r.error) {
            show_error(r.error, r.error_field);
        }
        else {
            location.assign('attachments');
        }
    }

    function on_upload_failed(evt) {
        show_error('Upload failed.', '');

    }

    function on_upload_canceled(evt) {
        show_error('Upload has been canceled.', '');
    }

    function show_error(err, field_name) {
        $('div.control-group').removeClass('error');
        if (err==null || err=='') {
            $('#div-error').hide();
            return false;
        }
        $('#span-error').text(err);
        $('#div-error').show();
        $('#div-' + field_name).addClass('error');
        if ($('#div-error').offset().top < $(window).scrollTop()) {
            $('html,body').animate({scrollTop: $('#div-error').offset().top});
        }
        return false;
    }

    function show_loading(show) {
        if (show) {
            $('#submit').attr('disabled', 'disabled');
            $('#loading').show();
        }
        else {
            $('#submit').removeAttr('disabled');
            $('#loading').hide();
        }
    }

    function ajax_post_multipart(form) {
        show_error(null);
        var fpath = $('#file').val();
        if (fpath=='')
            return show_error('Must select the file to upload.', 'file');
        var fobj = $('#file').get(0).files[0];
        $('#span-prog-total').text(filesize(fobj.size));
        // send XMLHttpRequest2:
        var fd = null;
        try {
            fd = form.getFormData();
        }
        catch(e) {
            fd = new FormData(form);
        }
        var xhr = new XMLHttpRequest();
        xhr.upload.addEventListener('progress', on_upload_progress, false);
        xhr.addEventListener('load', on_upload_complete, false);
        xhr.addEventListener('error', on_upload_failed, false);
        xhr.addEventListener('abort', on_upload_canceled, false);
        xhr.open('post', $(form).attr('action'));
        xhr.send(fd);
        $('#submit').attr('disabled', 'disabled');
        return false;
    }
</script>

<div class="row">
    <div class="span10">
        <form name="x">
            <fieldset>
                <legend>{{ _('Add New Attachment') }}</legend>
            </fieldset>
        </form>
    </div>
</div>

<div class="row">
    <div class="span8">
        <form id="form-x" action="/api/attachments/upload" method="post" enctype="multipart/form-data" class="form-horizontal" onsubmit="return ajax_post_multipart(this)">
            <fieldset>
                <div id="div-name" class="control-group">
                    <label class="control-label">{{ _('Name') }}:</label>
                    <div class="controls">
                        <input id="name" name="name" type="text" value="{{ name }}" class="input-xlarge" />
                    </div>
                </div>
                <div id="div-name" class="control-group">
                    <label class="control-label">{{ _('Description') }}:</label>
                    <div class="controls">
                        <input id="description" name="description" type="text" value="{{ description }}" class="input-xlarge" />
                    </div>
                </div>
                <div id="div-file" class="control-group">
                    <label class="control-label">{{ _('File') }}:</label>
                    <div class="controls">
                        <input id="file" type="file" name="file" />
                    </div>
                </div>
                <div id="div-progress" class="control-group">
                    <label class="control-label">{{ _('Progress') }}:</label>
                    <div class="controls">
                        <div class="input-xlarge" style="width:280px">
                            <div class="progress progress-striped active" style="margin-top:6px;margin-bottom:6px">
                                <div id="div-prog-bar" class="bar" style="width:0%;"></div>
                            </div>
                            <div>
                                <span><span id="span-prog-loaded">0</span> / <span id="span-prog-total">0</span></span>
                                <span class="pull-right"><span id="span-prog-percent">0</span>%</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-actions">
                    <input type="hidden" name="id" value="{{ id }}" />
                    <button type="submit" id="submit" class="btn btn-primary">{{ _('Save') }}</button>
                    <button type="button" class="btn" onclick="location.assign('resources')">{{ _('Cancel') }}</button>
                    <span id="loading" class="loading hide">{{ _('Processing, please wait') }}...</span>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="span2">
        <div class="well" style="background-color:transparent;padding:4px;margin:0px">
            <div id="div-preview-image" style="height:90px;background-repeat:no-repeat;background-position:center center;background-size:cover;">
                <div id="div-preview-text" style="display:block;width:130px;height:90px;line-height:90px;text-align:center;color:#999;text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);text-overflow:ellipsis;overflow:hidden;">{{ _('Preview') }}</div>
            </div>
        </div>
    </div>
</div>
