<script>

function showSortButton() {
    $('#sort').show();
}

function ajax_post(form) {
    show_error(null);
    show_loading(true);
    $.postJSON($(form).attr('action'), $(form).serialize(), function(result) {
        refresh();
    }, function(e) {
        show_loading(false);
        show_error(e.message, e.data);
    });
    return false;
}

function moveUp(trid) {
    var me = $('#tr-' + trid);
    var x = me.prev();
    if (x.length > 0) {
        me.after(x);
        showSortButton();
    }
}

function moveDown(trid) {
    var me = $('#tr-' + trid);
    var x = me.next();
    if (x.length > 0) {
        me.before(x);
        showSortButton();
    }
}

$(function() {
    $('a.x-btn-delete').each(function() {
        $(this).click(function() {
            $btn = $(this);
            var prompt = $btn.attr('prompt');
            var rel = $(this).attr('rel');

            show_confirm('Deletion Confirm', 'Are you sure you want to delete the category "' + prompt + '"?', function(btn, fn_hide) {
                $.postJSON('/api/category/delete', {'id': rel}, function(result) {
                    refresh();
                }, function(err) {
                    fn_hide();
                    show_error(err.message, err.data);
                });
            });
        });
    });
});

</script>

<div class="row">
    <div class="span10">
        <h3>{{ _('All Categories') }}</h3>
    </div>
    <div class="span10">
        <div class="btn-toolbar" style="text-align:right">
            <a href="add_category" class="btn btn-primary"><i class="icon-plus icon-white"></i> {{ _('Add Category') }}</a>
        </div>
    </div>
    <div class="span10">
        <div class="alert alert-error hide"></div>
        <form id="x-form-sort" name="x-form-sort" action="/api/category/sort" onsubmit="return ajax_post(this)">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th width="30%">{{ _('Name') }}</th>
                        <th width="30%">{{ _('Description') }}</th>
                        <th width="20%">{{ _('Date') }}</th>
                        <th width="20%">&nbsp;</th>
                    </tr>
                </thead>
                <tbody id="tbody-categories">
{% for c in categories %}
                    <tr id="tr-{{ c.id }}">
                        <td class="name">
                            <a href="/category/{{ c.id }}" target="_blank">{{ c.name|e }}</a>
                        </td>
                        <td>{{ c.description|e }}</td>
                        <td>{{ c.creation_time|dt }}</td>
                        <td>
                            <a href="javascript:moveUp('{{ c.id }}')" class="x-btn"><i class="icon-arrow-up"></i></a>
                            <a href="javascript:moveDown('{{ c.id }}')" class="x-btn"><i class="icon-arrow-down"></i></a>
                            <a href="?action=edit&id={{ c.id }}" class="x-btn"><i class="icon-edit"></i></a>
                            <a id="delete-{{ c.id }}" rel="{{ c.id }}" href="javascript:void(0)" class="x-btn x-btn-delete" prompt="{{ c.name|e }}"><i class="icon-trash"></i></a>
                            <input type="hidden" name="id" value="{{ c.id }}" />
                        </td>
                    </tr>
{% endfor %}
                </tbody>
            </table>
            <div>
                <div id="sort" class="btn-toolbar hide" style="text-align:right;">
                    <button type="submit" class="btn btn-info"><i class="icon-list icon-white"></i> {{ _('Save Orders') }}</button>
                </div>
            </div>
        </form>
    </div>
</div>
