<script>

function ajax_post(form) {
    show_error(null);
    show_loading(true);
    $.postJSON($(form).attr('action'), $(form).serialize(), function(result) {
        location.assign('all_categories');
    }, function(e) {
        show_loading(false);
        show_error(e.message, e.data);
    });
    return false;
}

</script>

<div class="row">
    <div class="span10">
        <h3>{{ form_title }}</h3>
        <form id="x-form" action="{{ form_action }}" method="post" class="form-horizontal" onsubmit="return ajax_post(this)">
            <fieldset>
                <div class="alert alert-error hide"></div>
                <div class="field-name control-group">
                    <label class="control-label">{{ _('Name') }}:</label>
                    <div class="controls">
                        <input name="name" type="text" value="{{ name|e }}" class="input-xlarge" />
                    </div>
                </div>
                <div class="field-description control-group">
                    <label class="control-label">{{ _('Description') }}:</label>
                    <div class="controls">
                        <input name="description" type="text" value="{{ description|e }}" class="input-xlarge" />
                    </div>
                </div>
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary"><i class="icon-ok icon-white"></i> {{ _('Save') }}</button>
                    <button type="button" class="btn" onclick="location.assign('all_categories')"><i class="icon-remove"></i> {{ _('Cancel') }}</button>
                </div>
            </fieldset>
        </form>
    </div>
</div>
