<script type="text/javascript">
    function show_error(err, field_name) {
        $('div.control-group').removeClass('error');
        if (err==null) {
            $('div.alert-error').text('').hide();
            return false;
        }
        $('div.alert-error').text(err).show();
        $('div.field-' + field_name).addClass('error');
        if ($('div.alert-error').offset().top < $(window).scrollTop()) {
            $('html,body').animate({scrollTop: $('div.alert-error').offset().top});
        }
        return false;
    }

    function show_loading(show) {
        if (show) {
            $('button[type=submit]').attr('disabled', 'disabled');
            $('span.loading').show();
        }
        else {
            $('button[type=submit]').removeAttr('disabled');
            $('span.loading').hide();
        }
    }

    function ajax_post(form) {
        show_error(null);
        show_loading(true);
        $.postJSON($(form).attr('action'), $(form).serialize()).success(function(result) {
            show_loading(false);
            if (result.error) {
                show_error(result.message, result.data);
            }
            else {
                location.assign('categories');
            }
        }).error(function() {
            show_loading(false);
            show_error('{{ _('Server error') }}!', '');
        });
        return false;
    }
</script>

<div class="row">
    <div class="span10">
        <h3>{{ form_title }}</h3>
        <form id="x-form" action="{{ form_action }}" method="post" class="form-horizontal" onsubmit="return ajax_post(this)">
            <fieldset>
                <div class="alert alert-error hide"></div>
                <div class="field-name control-group">
                    <label class="control-label">{{ _('Name') }}:</label>
                    <div class="controls">
                        <input name="name" type="text" value="{{ name|e }}" class="input-xlarge" />
                        <span class="help-inline">Category name</span>
                    </div>
                </div>
                <div class="field-description control-group">
                    <label class="control-label">{{ _('Description') }}:</label>
                    <div class="controls">
                        <input name="description" type="text" value="{{ description|e }}" class="input-xlarge" />
                        <span class="help-inline">Category description</span>
                    </div>
                </div>
                <div class="form-actions">
                    <input type="hidden" name="id" value="{{ id }}" />
                    <button type="submit" id="submit" class="btn btn-primary">{{ _('Save') }}</button>
                    <button type="button" class="btn" onclick="location.assign('categories')">{{ _('Cancel') }}</button>
                    <span class="loading hide">{{ _('Processing') }}...</span>
                </div>
            </fieldset>
        </form>
    </div>
</div>
