<script type="text/JavaScript">
    $(function() {
        $('a.x-btn-delete').each(function() {
            var aid = $(this).attr('id');
            var rel = $(this).attr('rel');
            $(this).popover({
                placement:'top',
                html:true,
                title:'Confirm Deletion',
                content:'<p>Are you sure you want to delete the <strong>'
                    + $(this).attr('prompt')
                    + '</strong>?</p>'
                    + '<div style="text-align:center"><button class="btn btn-danger" onclick="location.assign(\'?action=delete&id='
                    + rel + '\');">Delete</button> <button class="btn" onclick="$(\'#'
                    + aid + '\').popover(\'hide\')">Cancel</button></div>',
            });
        });
    });
</script>

<div class="row">
    <div class="span10">
        <h3>{{ _('All Pages') }}</h3>
    </div>
</div>

<div class="row sep">
    <div class="span10">
        <a href="add_page" class="btn btn-primary pull-right">{{ _('Add Page') }}</a>
    </div>
</div>

<div class="row">
    <div class="span10">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th width="35%">{{ _('Name') }}</th>
                    <th width="15%">{{ _('Status') }}</th>
                    <th width="20%">{{ _('Tags') }}</th>
                    <th width="20%">{{ _('Creation Date') }}</th>
                    <th width="10%">&nbsp;</th>
                </tr>
            </thead>
            <tbody>
{% for p in pages %}
                <tr id="tr-{{ p.id }}">
                    <td class="name"><a href="/page/{{ p.id }}" target="_blank">{{ p.name|e }}</a></td>
                    <td>
                        {{ _(p.draft and 'Draft' or 'Published') }}
                    </td>
                    <td>{{ p.tags|e }}</td>
                    <td>{{ p.creation_time|dt }}</td>
                    <td>
                        <a href="?action=edit&id={{ p.id }}" class="x-btn"><i class="icon-edit"></i></a>
                        <a id="delete-{{ p.id }}" rel="{{ p.id }}" href="javascript:void(0)" class="x-btn x-btn-delete" prompt="{{ p.name|e }}"><i class="icon-trash"></i></a>
                    </td>
                </tr>
{% endfor %}
            </tbody>
        </table>
    </div>
</div>
