div.sep {
  margin-bottom: 18px;
}

span.loading {
  line-height: 16px;
  padding-left: 24px;
  background-image: url(/static/img/loading.gif);
  background-repeat: no-repeat;
  background-position: 4px, center;
}

a.x-btn {
  padding: 3px;
  border: solid 1px transparent;
  margin-right: 2px;
}

a.x-btn:hover {
  border: solid 1px #ddd;
  border-radius: 3px;
  box-shadow: 2px 2px 2px #ccc;
}

.x-error {
  color: #b94a48;
}

a.x-editable {
  text-decoration: none;
  border-bottom: dashed 1px #0088cc;
}

a.x-editable:hover {
  text-decoration: none;
  border-bottom: dashed 1px #0088cc;
}
