<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>{{ __website__.name|e }}</title>
    <!--[if lt IE 9]>
        <script src="/static/js/html5.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="/static/css/bootstrap.css" />
    <link rel="stylesheet" href="/static/css/custom.css" />
    <link rel="stylesheet" href="/static/css/jqtree.css" />

    <script type="text/javascript" src="/static/js/jquery-1.9.0.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.postjson.js"></script>
    <script type="text/javascript" src="/static/js/jquery.md5.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/tree.jquery.js"></script>
    <script type="text/javascript">
        $(function() {
            var li = $('#menu-{{ __mod__ }}-{{ __handler__ }}');
            li.addClass('active');
            document.title = li.text() + ' - ' + document.title;
        });
    </script>
</head>
<body>
    <div class="navbar navbar-static-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="/" target="_blank">{{ __website__.name|e }}</a>
                <ul class="nav">
                    <li class="active"><a href="javascript:void(0)">Management</a></li>
                    <li><a href="http://michaelliao.github.com/itranswarp/" target="_blank">{{ _('Documentation') }}</a></li>
                    <li><a href="https://github.com/michaelliao/itranswarp/issues" target="_blank">{{ _('Feedback') }}</a></li>
                </ul>
                <ul class="nav pull-right">
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">{{ __user__.name }} <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/profile" target="_blank">{{ _('My Profile') }}</a></li>
                                <li class="divider"></li>
                            <li><a href="/signout?redirect=/">{{ _('Sign Out') }}</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div><!-- /navbar -->

    <div class="container">
        <div class="row sep"></div>

        <div class="row">
            <div class="span2">
                <div class="well" style="padding: 8px 0px;">
                    <ul class="nav nav-list">
{% for g in __menus__ %}
                        <li id="group-{{ g.name }}" class="nav-header">{{ _(g.name) }}</li>
    {% for m in g.items %}
                        <li id="menu-{{ m.modname }}-{{ m.funcname }}"><a href="/admin/{{ m.modname }}/{{ m.funcname }}">{{ _(m.name) }}</a></li>
    {% endfor %}
{% endfor %}
                        <li class="divider"></li>
                        <li><a href="http://www.itranswarp.com/" target="_blank">{{ _('Help') }}</a></li>
                    </ul>
                </div>
            </div>

            <div class="span10">
                <!-- BEGIN include -->
{% include __include__ %}
                <!-- END include -->
            </div>
        </div>

        <div class="row">
            <div class="span12">
                <hr />
            </div>
        </div>

        <div class="row">
            <div class="span4">
                <p><a href="https://github.com/michaelliao/itranswarp" target="_blank">iTranswarp</a> by <a href="http://twitter.com/liaoxuefeng" target="_blank">@liaoxuefeng</a>.</p>
            </div>
            <div class="span4">
                <p>CSS from <a href="http://twitter.github.com/bootstrap/" target="_blank">Bootstrap</a>.</p>
                <p>JavaScript from <a href="http://www.jquery.com/" target="_blank">jQuery</a>.</p>
            </div>
            <div class="span4">
                <p>Code licensed under the <a href="http://www.apache.org/licenses/LICENSE-2.0" target="_blank">Apache License v2.0</a>.</p>
                <p>Running on <a href="http://www.python.org/" target="_blank">Python 2.7</a> with WSGI-compatible.</p>
            </div>
        </div>
    </div>
</body>
</html>
