<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>{{ __website__.name|e }}</title>
    <!--[if lt IE 9]>
        <script src="/static/js/html5.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="/static/css/bootstrap.css" />
    <link rel="stylesheet" href="/static/css/custom.css" />
    <link rel="stylesheet" href="/static/css/redactor.css" />

    <script type="text/javascript" src="/static/js/jquery-1.9.0.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.postjson.js"></script>
    <script type="text/javascript" src="/static/js/jquery.md5.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/redactor.min.js"></script>
    <script type="text/javascript">
        $(function() {
            var li = $('#menu-{{ __mod__ }}-{{ __handler__ }}');
            li.addClass('active');
            document.title = li.text() + ' - ' + document.title;
        });
    </script>
</head>
<body>
    <div class="navbar navbar-static-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="/" target="_blank">{{ __website__.name|e }}</a>
                <ul class="nav">
                    <li class="active"><a href="javascript:void(0)">Management</a></li>
                    <li><a href="http://michaelliao.github.com/itranswarp/" target="_blank">{{ _('Documentation') }}</a></li>
                    <li><a href="https://github.com/michaelliao/itranswarp/issues" target="_blank">{{ _('Feedback') }}</a></li>
                </ul>
                <ul class="nav pull-right">
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">{{ __user__.name }} <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/profile" target="_blank">{{ _('My Profile') }}</a></li>
                                <li class="divider"></li>
                            <li><a href="/signout?redirect=/">{{ _('Sign Out') }}</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div><!-- /navbar -->

    <div class="container">
        <div class="row sep"></div>

        <div class="row">
            <div class="span2">
                <div class="well" style="padding: 8px 0px;">
                    <ul class="nav nav-list">
                        <li class="nav-header">{{ _('Overview') }}</li>
                        <li id="menu-manage-overview"><a href="/admin/manage/overview">{{ _('Statistics') }}</a></li>
                        <li class="nav-header">{{ _('Articles') }}</li>
                        <li id="menu-article-categories"><a href="/admin/article/categories">{{ _('Categories') }}</a></li>
                        <li id="menu-article-articles"><a href="/admin/article/articles">{{ _('All Articles') }}</a></li>
                        <li id="menu-article-add_article"><a href="/admin/article/add_article">{{ _('Add Article') }}</a></li>
                        <li class="nav-header">{{ _('Pages') }}</li>
                        <li id="menu-article-pages"><a href="/admin/article/pages">{{ _('All Pages') }}</a></li>
                        <li id="menu-article-add_page"><a href="/admin/article/add_page">{{ _('Add New Page') }}</a></li>
                        <li class="nav-header">{{ _('Attachments') }}</li>
                        <li id="menu-article-attachments"><a href="/admin/article/attachments">{{ _('All Attachments') }}</a></li>
                        <li id="menu-article-add_attachment"><a href="/admin/article/add_attachment">{{ _('Add Attachment') }}</a></li>
                        <li class="nav-header">{{ _('Settings') }}</li>
                        <li id="menu-website-general"><a href="/admin/website/general">{{ _('General') }}</a></li>
                        <li id="menu-website-navigations"><a href="/admin/website/navigations">{{ _('Navigations') }}</a></li>
                        <li id="menu-website-domain"><a href="/admin/website/domain">{{ _('Domain') }}</a></li>
                        <li id="menu-website-storages"><a href="/admin/website/storages">{{ _('Storage') }}</a></li>
                        <li class="divider"></li>
                        <li><a href="http://www.itranswarp.com/" target="_blank">{{ _('Help') }}</a></li>
                    </ul>
                </div>
            </div>

            <div class="span10">
                <!-- BEGIN include -->
{% include __include__ %}
                <!-- END include -->
            </div>
        </div>

        <div class="row">
            <div class="span12">
                <hr />
            </div>
        </div>

        <div class="row">
            <div class="span4">
                <p><a href="https://github.com/michaelliao/itranswarp" target="_blank">iTranswarp</a> by <a href="http://twitter.com/liaoxuefeng" target="_blank">@liaoxuefeng</a>.</p>
            </div>
            <div class="span4">
                <p>CSS from <a href="http://twitter.github.com/bootstrap/" target="_blank">Bootstrap</a>.</p>
                <p>JavaScript from <a href="http://www.jquery.com/" target="_blank">jQuery</a>.</p>
            </div>
            <div class="span4">
                <p>Code licensed under the <a href="http://www.apache.org/licenses/LICENSE-2.0" target="_blank">Apache License v2.0</a>.</p>
                <p>Running on <a href="http://www.python.org/" target="_blank">Python 2.6+</a> with WSGI-compatible.</p>
            </div>
        </div>
    </div>
</body>
</html>
