<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>{{ _('Sign In') }}</title>
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="/static/css/bootstrap.css" />
    <link rel="stylesheet" href="/static/css/custom.css" />
    <style type="text/css">
p.login {
    background-position: left center;
    background-repeat: no-repeat;
    text-indent: 32px;
    line-height: 36px;
}
p.login a {
    font-size: 16px;
}
    </style>
    <script type="text/javascript" src="/static/js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.md5.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
    <script type="text/javascript">
function showtab(name) {
    $('#ul-tab a#a-' + name).tab('show');
    $('div.div-tab').hide();
    $('#div-' + name).show();
};

function check(form) {
    $('#md5-passwd').val($.md5($('#origin-passwd').val()));
    return true;
}
    </script>
</head>
<body>
    <div class="container">
        <div class="row" style="height: 120px"></div>

        <div class="row">
            <div class="span1 offset3">
                <img src="/static/img/logo.png" width="64" height="64" />
            </div>
            <div class="span4" style="padding-top:16px;">
                <h1>{{ __site_name__ }}</h1>
            </div>
        </div>

        <div class="row sep"></div>

        <div class="row">
            <div class="span6 offset3">
                <ul id="ul-tab" class="nav nav-tabs">
                    <li><span style="display:block;width:80px;height:10px;"></span></li>
                    <li class="active"><a id="a-tab-form" href="javascript:showtab('tab-form')">{{ _('Sign In') }}</a></li>
{% if providers %}
                    <li><a id="a-tab-3rdpart" href="javascript:showtab('tab-3rdpart')">{{ _('3rd-part Sign In') }}</a></li>
{% endif %}
                </ul>
            </div>
        </div>

        <div id="div-tab-form" class="div-tab row">
            <form action="/signin" method="post" onsubmit="return check(this)">
                <div class="span4 offset4">
{% if error %}
                    <div class="alert alert-error">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        {{ error|e }}
                    </div>
{% endif %}
                    <label class="control-label">{{ _('Email') }}:</label>
                    <input type="text" name="email" maxlength="50" class="input-xlarge" value="{{ email }}" />
                    <label class="control-label">{{ _('Password') }}:</label>
                    <input type="password" id="origin-passwd" maxlength="50" class="input-xlarge" />
                    <input type="hidden" id="md5-passwd" name="passwd" />
                    <label class="checkbox"><input type="checkbox" id="remember" name="remember" value="True" /> {{ _('Remember me') }}</label>
                </div>
{% if remember %}
<script type="text/javascript">
    $('#remember').attr('checked', 'checked');
</script>
{% endif %}
                <div class="span6 offset3">
                    <div class="form-actions">
                        <div class="row">
                            <div class="span5 offset1">
                                <button type="submit" class="btn btn-primary">{{ _('Sign In') }}</button>
                                &nbsp;&nbsp;
                                <i class="icon-question-sign"></i> <a href="/forgot">{{ _('Forgot password') }}</a>
                                &nbsp;&nbsp;
                                <i class="icon-circle-arrow-left"></i> <a href="/">{{ _('Back to home') }}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>

{% if providers %}
        <div id="div-tab-3rdpart" class="div-tab row hide">
            <div class="span4 offset4">
{% for p in providers %}
                <p class="login" style="background-image:url(/static/plugin/signin/{{ p.id }}.png)"><a href="/auth/from/{{ p.id }}"/>{{ p.description|e }}</a></p>
{% endfor %}
            </div>
        </div>
{% endif %}

    </div>
</body>
</html>
