<script>
function ajax_post(form) {
    show_error(null);
    show_loading(true);
    $.postJSON($(form).attr('action'), $(form).serialize(), function(result) {
        location.assign('?t=' + new Date().getTime());
    }, function(e) {
        show_loading(false);
        show_error(e.message, e.data);
    });
    return false;
}
</script>

<div class="row">
    <div class="span10">
        <h3>{{ _('General Settings') }}</h3>
    </div>
</div>

<div class="row">
    <div class="span10">
        <div class="alert alert-error hide">ERROR</div>

        <form name="x-form" action="/api/website/update" method="post" class="form-horizontal" onsubmit="return ajax_post(this)">
            <fieldset>
                <div class="field-name control-group">
                    <label class="control-label">{{ _('Site Name') }}:</label>
                    <div class="controls">
                        <input name="name" type="text" value="{{ name|e }}" class="input-xlarge" maxlength="100" />
                    </div>
                </div>
                <div class="field-description control-group">
                    <label class="control-label">{{ _('Site Description') }}:</label>
                    <div class="controls">
                        <input name="description" type="text" value="{{ description|e }}" class="input-xlarge" maxlength="100" />
                    </div>
                </div>
                <div class="field-copyright control-group">
                    <label class="control-label">{{ _('Site Copyright') }}:</label>
                    <div class="controls">
                        <input name="copyright" type="text" value="{{ copyright|e }}" class="input-xlarge" maxlength="100" />
                    </div>
                </div>
                <div class="field-timezone control-group">
                    <label class="control-label">{{ _('Timezone') }}:</label>
                    <div class="controls">
                        <select name="timezone" class="input-xlarge">
{% for tz in timezones %}
                            <option value="{{ tz }}" {{ 'selected="selected"' if timezone==tz }}>UTC{{ tz }}</option>
{% endfor %}
                        </select>
                        <span class="help-inline">Default timezone for visitors</span>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">UTC Date Time:</label>
                    <div class="controls">
                        <span class="input-xlarge uneditable-input">{{ utc_example }}</span>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Local Date Time:</label>
                    <div class="controls">
                        <span class="input-xlarge uneditable-input">{{ local_example }}</span>
                    </div>
                </div>

                <div class="field-dateformat control-group">
                    <label class="control-label">{{ _('Date Format') }}:</label>
                    <div class="controls">
{% for k, v in date_examples %}
                        <label class="radio"><input type="radio" name="dateformat" value="{{ k }}" {{ 'checked="checked"' if k==dateformat }} /> <span class="example">{{ v }}</span></label>
{% endfor %}
                    </div>
                </div>

                <div class="field-timeformat control-group">
                    <label class="control-label">{{ _('Time Format') }}:</label>
                    <div class="controls">
{% for k, v in time_examples %}
                        <label class="radio"><input type="radio" name="timeformat" value="{{ k }}" {{ 'checked="checked"' if k==timeformat }} /> <span class="example">{{ v }}</span></label>
{% endfor %}
                    </div>
                </div>

                <div class="form-actions">
                    <button type="submit" class="btn btn-primary"><i class="icon-ok icon-white"></i> {{ _('Save') }}</button>
                </div>
            </fieldset>
        </form>
    </div>
</div>
