<div class="row">
    <div class="span10">
        <h3>{{ _('Mail Test Result') }}</h3>
    </div>
</div>

<div class="row">
    <div class="span10">
{% if error %}
        <div class="alert alert-error">An error occurred when sent the testing email.</div>
        <pre>
        </pre>
{% else %}
        <div class="alert alert-success">A test email was sent to "{{ email|e }}", please check your mail box. Note that you may receive the email in serval minutes.</div>
{% endif %}
        <div style="text-align:center">
            <a href="mail" class="btn">{{ _('Back') }}</a>
        </div>
    </div>
</div>
