<script type="text/javascript">
    $(function() {
        $('#select-navigation option:first').attr('selected', 'selected');
        selectNavigationType($('#select-navigation option:first').attr('value'));
        $('#select-navigation').change(function() {
             selectNavigationType($(this).val());
        });
        $('select[name=value]').change(function() {
            setName($(this));
        })
    });

    function setName(select) {
        var v = $('#' + select.attr('id') + ' option:selected').text();
        $('input[name=name]').val(v);
    }

    function selectNavigationType(navId) {
        if ($('#select-navigation').val()!=navId) {
            $('#select-navigation').val(type);
        }
        $('div.nav').hide();
        $('div.nav input').attr('disabled', 'disabled');
        $('div.nav select').attr('disabled', 'disabled');
        $('div.nav-' + navId + ' input').removeAttr('disabled');
        $('div.nav-' + navId + ' select').removeAttr('disabled');
        $('div.nav-' + navId).show();
        if ($('div.nav-' + navId).hasClass('input-select')) {
            setName($('div.nav-' + navId + ' select'));
        }
    }

function ajax_post(form) {
    show_error(null);
    show_loading(true);
    $.postJSON($(form).attr('action'), $(form).serialize(), function(result) {
        refresh();
    }, function(err) {
        show_loading(false);
        show_error(err.message || err.error, err.data);
    });
    return false;
}

</script>

<div class="row">
    <div class="span10">
        <h3>Add Navigation</h3>
    </div>
    <div class="span10">
        <form id="form-x" action="/api/navigation/create" method="post" class="form-horizontal" onsubmit="return ajax_post(this)">
            <fieldset>
                <div class="alert alert-error hide"></div>
                <div class="field-name control-group">
                    <label class="control-label">{{ _('Name') }}:</label>
                    <div class="controls">
                        <input name="name" type="text" value="" class="input-xlarge" />
                        <span class="help-inline">Navigation menu name</span>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">{{ _('Type') }}:</label>
                    <div class="controls">
                        <select id="select-navigation" name="kind" class="input-xlarge">
{% for nav in definitions %}
                            <option value="{{ nav.key }}" help="{{ nav.description|e }}">{{ nav.prompt|e }}</option>
{% endfor %}
                        </select>
                        <span class="help-inline"></span>
                    </div>
                </div>

{% for nav in definitions %}
                <!-- navigation input -->
    {% if nav.input=='text' %}
                <div class="nav nav-{{ nav.key }} input-text control-group">
                    <label class="control-label">{{ nav.prompt|e }}</label>
                    <div class="controls">
                        <input type="text" name="value" value="" class="input-xlarge" />
                        <span class="help-inline">{{ nav.description|e }}</span>
                    </div>
                </div>
    {% elif nav.input=='select' %}
                <div class="nav nav-{{ nav.key }} input-select control-group">
                    <label class="control-label">{{ nav.prompt|e }}</label>
                    <div class="controls">
                        <select id="select-{{ nav.key }}" name="value" class="input-xlarge">
        {% for k, v in nav.fn_get_options() %}
                            <option value="{{ k|e }}">{{ v|e }}</option>
        {% endfor %}
                        </select>
                        <span class="help-inline">{{ nav.description|e }}</span>
                    </div>
                </div>
    {% else %}
                <div class="nav nav-{{ nav.key }} input-none"><input type="hidden" name="value" value="" /></div>
    {% endif %}
                <!-- // navigation input -->
{% endfor %}
                <div class="form-actions">
                    <input type="hidden" name="action" value="add" />
                    <button type="submit" class="btn btn-primary"><i class="icon-ok icon-white"></i> {{ _('Save') }}</button>
                    <button type="button" class="btn" onclick="refresh()"><i class="icon-remove"></i> {{ _('Cancel') }}</button>
                </div>
            </fieldset>
        </form>
    </div>
</div>
