<script>

function showSortButton() {
    $('#sort').show();
}

function ajax_post(form) {
    show_error(null);
    show_loading(true);
    $.postJSON($(form).attr('action'), $(form).serialize(), function(result) {
        refresh();
    }, function(e) {
        show_loading(false);
        show_error(e.message || e.error, e.data);
    });
    return false;
}

function moveUp(trid) {
    var me = $('#tr-' + trid);
    var x = me.prev();
    if (x.length > 0) {
        me.after(x);
        showSortButton();
    }
}

function moveDown(trid) {
    var me = $('#tr-' + trid);
    var x = me.next();
    if (x.length > 0) {
        me.before(x);
        showSortButton();
    }
}


$(function() {
    $('a.x-btn-delete').each(function() {
        $(this).click(function() {
            $btn = $(this);
            var prompt = $btn.attr('prompt');
            var rel = $btn.attr('rel');

            show_confirm('Deletion Confirm', 'Are you sure you want to delete the navigation "' + prompt + '"?', function(btn, fn_hide) {
                $.postJSON('/api/navigation/delete', {'id': rel}, function(result) {
                    refresh();
                }, function(err) {
                    fn_hide();
                    show_error(err.message || err.error, err.data);
                });
            });
        });
    });
});

</script>

<div class="row">
    <div class="span10">
        <h3>{{ _('Navigations') }}</h3>
    </div>
    <div class="span10">
        <div class="btn-toolbar" style="text-align:right">
            <a href="?action=add" class="btn btn-primary"><i class="icon-plus icon-white"></i> {{ _('Add Navigation') }}</a>
        </div>
    </div>
    <div class="span10">
        <div class="alert alert-error hide"></div>
        <form name="form" action="/api/navigation/sort" onsubmit="return ajax_post(this)">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th width="25%">{{ _('Name') }}</th>
                        <th width="40%">{{ _('URL') }}</th>
                        <th width="17%">{{ _('Creation Date') }}</th>
                        <th width="18%">&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
{% for n in navigations %}
                    <tr id="tr-{{ n.id }}">
                        <td class="name">{{ n.name|e }}</td>
                        <td><a href="{{ n.url }}" target="_blank">{{ n.url|elli }}</a></td>
                        <td>{{ n.creation_time|dt }}</td>
                        <td>
                            <a href="javascript:moveUp('{{ n.id }}')" class="x-btn"><i class="icon-arrow-up"></i></a>
                            <a href="javascript:moveDown('{{ n.id }}')" class="x-btn"><i class="icon-arrow-down"></i></a>
                            <a href="?action=edit&id={{ n.id }}" data-toggle="tooltip" title="Edit this navigation" class="x-btn"><i class="icon-edit"></i></a>
                            <a rel="{{ n.id }}" data-toggle="tooltip" title="Delete this navigation" href="javascript:void(0)" class="x-btn x-btn-delete" prompt="{{ n.name|e }}"><i class="icon-trash"></i></a>
                            <input type="hidden" name="id" value="{{ n.id }}" />
                        </td>
                    </tr>
{% endfor %}
                </tbody>
            </table>
            <div id="sort" class="btn-toolbar hide" style="text-align:right">
                <button type="submit" class="btn btn-info"><i class="icon-list icon-white"></i> {{ _('Save Orders') }}</button>
            </div>
        </form>
    </div>
</div>
