<script type="text/javascript" src="/static/js/jquery.jqplot.min.js"></script>
<script type="text/javascript">
    $(function() {
        var w = $("#table-statistics").width();
        var h = $("#table-statistics").height();
        $("#visit_chart").css("width", w);
        $("#visit_chart").css("height", h);
        var plot1 = $.jqplot ("visit_chart", [ {{ two_weeks }} ], {
            grid: { background: "#fff", shadow: false, drawBorder: false },
            axes: { xaxis: { pad: 0, showTicks: false }, yaxis: { min: 0 } },
            series:[ { color: "#08C", shadow: false } ]
        });
    });
</script>

<div class="row sep">
    <div class="span10">
        <h3>Dashboard</h3>
    </div>
</div>

<div class="row">
    <div class="span5">
        <div class="sep"><strong>{{ _('Statistics') }}</strong></div>
        <table id="table-statistics" class="table table-bordered">
            <thead>
                <tr>
                    <th>{{ _('Type') }}</th>
                    <th>{{ _('Number') }}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ _('Articles') }}</td>
                    <td>{{ articles }}</td>
                </tr>
                <tr>
                    <td>{{ _('Pages') }}</td>
                    <td>{{ pages }}</td>
                </tr>
                <tr>
                    <td>{{ _('Media') }}</td>
                    <td>{{ media }}</td>
                </tr>
                <tr>
                    <td>{{ _('Users') }}</td>
                    <td>{{ users }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="span5">
        <div class="sep"><strong>{{ _('Visits') }}</strong> ({{ start_date }} - {{ end_date }})</div>
        <div id="visit_chart"></div>
    </div>
</div>
