<div class="row sep">
    <div class="span10">
        <h3>{{ _('Exports') }}</h3>
    </div>
</div>

<div id="div-error" class="row hide">
    <div class="span10">
        <div class="alert alert-error">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <span id="span-error"></span>
        </div>
    </div>
</div>

<script type="text/javascript">
    function show_error(err, field_name) {
        $('div.control-group').removeClass('error');
        if (err==null || err=='') {
            $('#div-error').hide();
            return false;
        }
        $('#span-error').text(err);
        $('#div-error').show();
        $('#div-' + field_name).addClass('error');
        if ($('#div-error').offset().top < $(window).scrollTop()) {
            $('html,body').animate({scrollTop: $('#div-error').offset().top});
        }
        return false;
    }

    function show_loading(show) {
        if (show) {
            $('#submit').attr('disabled', 'disabled');
            $('#loading').show();
        }
        else {
            $('#submit').removeAttr('disabled');
            $('#loading').hide();
        }
    }

    function ajax_post(form) {
        show_error(null);
        show_loading(true);
        return true;
    }
</script>

<div class="row">
    <div class="span10">
        <div class="alert alert-info">You can export all contents as XML or database dump for backup.</div>
    </div>
</div>

<iframe name="do_exports" style="display:none"></iframe>

<div class="row">
    <div class="span10">
        <form id="form-x" target="do_exports" action="do_exports" method="post" class="form-horizontal" onsubmit="return ajax_post(this)">
            <fieldset>
                <div id="div-name" class="control-group">
                    <label class="control-label">{{ _('Type') }}:</label>
                    <div class="controls">
                        <label class="radio">
                            <input type="radio" name="type" value="sql" checked="checked" /> {{ _('Export as SQL') }}
                        </label>
                    </div>
                    <div class="controls">
                        <label class="radio">
                            <input type="radio" name="type" value="xml" /> {{ _('Export as XML') }}
                        </label>
                    </div>
                </div>
                <div class="form-actions">
                    <input type="hidden" name="id" value="{{ id }}" />
                    <button type="submit" id="submit" class="btn btn-primary">{{ _('Export') }}</button>
                    <span id="loading" class="loading hide">{{ _('Processing, please wait') }}...</span>
                </div>
            </fieldset>
        </form>
    </div>
</div>
