<div class="row sep">
    <div class="span10">
        <h3>{{ _('Imports') }}</h3>
    </div>
</div>

<div id="div-error" class="row hide">
    <div class="span10">
        <div class="alert alert-error">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <span id="span-error"></span>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function() {
        $('#file').change(function() {
            var f = $('#file').val();
            if (f!='') {
            }
            try {
                if (f!='') {
                    var lf = $('#file').get(0).files[0];
                    $('#span-prog-total').text(filesize(lf.size));
                    $('#submit').removeAttr('disabled');
                }
                else {
                    $('#submit').attr('disabled', 'disabled');
                    $('#span-prog-total').text('0');
                }
            }
            catch (e) {}
        });
    });

    function getObjectURL(file) {
        var url = '';
        if (window.createObjectURL!=undefined) // basic
            url = window.createObjectURL(file);
        else if (window.URL!=undefined) // mozilla(firefox)
            url = window.URL.createObjectURL(file);
        else if (window.webkitURL!=undefined) // webkit or chrome
            url = window.webkitURL.createObjectURL(file);
        return url;
    }

    function filesize(size) {
        if (size < 1024)
            return size + ' bytes';
        size = size / 1024.0;
        if (size < 1024)
            return size.toFixed(2) + ' KB';
        size = size / 1024.0;
        if (size < 1024)
            return size.toFixed(2) + ' MB';
        size = size / 1024.0;
        return size.toFixed(2) + ' GB';
    }

    function on_upload_progress(evt) {
        if (evt.lengthComputable) {
            var percent = evt.loaded * 100.0 / evt.total;
            $('#div-prog-bar').css('width', percent.toFixed(1) + '%');
            $('#span-prog-percent').text(percent.toFixed(1));
            $('#span-prog-loaded').text(filesize(evt.loaded));
        }
    }

    function on_upload_complete(evt) {
        var r = $.parseJSON(evt.target.responseText);
        if (r.error) {
            show_error(r.error, r.error_field);
        }
        else {
            location.assign(r.redirect);
        }
    }

    function on_upload_failed(evt) {
        show_error('Upload failed.', '');
    }

    function on_upload_canceled(evt) {
        show_error('Upload has been canceled.', '');
    }

    function show_error(err, field_name) {
        $('div.control-group').removeClass('error');
        if (err==null || err=='') {
            $('#div-error').hide();
            return false;
        }
        $('#span-error').text(err);
        $('#div-error').show();
        $('#div-' + field_name).addClass('error');
        if ($('#div-error').offset().top < $(window).scrollTop()) {
            $('html,body').animate({scrollTop: $('#div-error').offset().top});
        }
        return false;
    }

    function show_loading(show) {
        if (show) {
            $('#submit').attr('disabled', 'disabled');
            $('#loading').show();
        }
        else {
            $('#submit').removeAttr('disabled');
            $('#loading').hide();
        }
    }

    function ajax_post(form) {
        show_error(null);
        show_loading(true);
        $.getJSON($(form).attr('action'), $(form).serialize(), function(result) {
            if (result.error) {
                show_loading(false);
                show_error(result.error, result.error_field);
            }
            else {
                show_error(null);
                location.assign(result.redirect);
            }
        }).error(function() {
            show_loading(false);
            show_error('Server error!', '');
        });
        return false;
    }

    function ajax_post_multipart(form) {
        show_error(null);
        var fpath = $('#file').val();
        if (fpath=='')
            return show_error('Must select the file to upload.', 'file');
        var fobj = $('#file').get(0).files[0];
        $('#span-prog-total').text(filesize(fobj.size));
        // send XMLHttpRequest2:
        var fd = null;
        try {
            fd = form.getFormData();
        }
        catch(e) {
            fd = new FormData(form);
        }
        var xhr = new XMLHttpRequest();
        xhr.upload.addEventListener('progress', on_upload_progress, false);
        xhr.addEventListener('load', on_upload_complete, false);
        xhr.addEventListener('error', on_upload_failed, false);
        xhr.addEventListener('abort', on_upload_canceled, false);
        xhr.open('post', $(form).attr('action'));
        xhr.send(fd);
        $('#submit').attr('disabled', 'disabled');
        return false;
    }
</script>

<div class="row">
    <div class="span10">
        <div class="alert alert-info">If you have posts in WordPress, iTranswarp can import those into this site. You can export your posts hosted on WordPress, you can export your posts from WordPress - "Tools" - "Export" - "Download Export File", and upload the exported XML file into this site.</div>
    </div>
</div>

<div class="row">
    <div class="span10">
        <form id="form-x" action="do_imports" method="post" enctype="multipart/form-data" class="form-horizontal" onsubmit="return ajax_post_multipart(this)">
            <fieldset>
                <div id="div-name" class="control-group">
                    <label class="control-label">{{ _('Type') }}:</label>
                    <div class="controls">
                        <label class="radio">
                            <input type="radio" name="type" value="wordpress" checked="checked" /> {{ _('Import from WordPress') }}
                        </label>
                    </div>
                </div>
                <div id="div-file" class="control-group">
                    <label class="control-label">{{ _('File') }}:</label>
                    <div class="controls">
                        <input id="file" type="file" name="file" />
                    </div>
                </div>
                <div id="div-progress" class="control-group">
                    <label class="control-label">{{ _('Progress') }}:</label>
                    <div class="controls">
                        <div class="input-xlarge" style="width:280px">
                            <div class="progress progress-striped active" style="margin-top:6px;margin-bottom:6px">
                                <div id="div-prog-bar" class="bar" style="width:0%;"></div>
                            </div>
                            <div>
                                <span><span id="span-prog-loaded">0</span> / <span id="span-prog-total">0</span></span>
                                <span class="pull-right"><span id="span-prog-percent">0</span>%</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-actions">
                    <input type="hidden" name="id" value="{{ id }}" />
                    <button type="submit" id="submit" class="btn btn-primary">{{ _('Save') }}</button>
                    <button type="button" class="btn" onclick="location.assign('imports')">{{ _('Cancel') }}</button>
                    <span id="loading" class="loading hide">{{ _('Processing, please wait') }}...</span>
                </div>
            </fieldset>
        </form>
    </div>
</div>
