<script type="text/JavaScript">
    function delete_x(id, name) {
        $('#span-delete-x-name').text(name);
        $('#a-delete-x').attr('href', 'do_delete_media?id='+id);
        $('#delete-modal').modal('show');
    }

    function filesize(size) {
        if (size<=0)
            return '';
        if (size < 1024)
            return size + 'B';
        size = size / 1024.0;
        if (size < 1024)
            return size.toFixed(2) + 'K';
        size = size / 1024.0;
        if (size < 1024)
            return size.toFixed(2) + 'M';
        size = size / 1024.0;
        return size.toFixed(2) + 'G';
    }
</script>

<div id="delete-modal" class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3>Deletion Confirm</h3>
    </div>
    <div class="modal-body">
        <p>Are you sure you want to delete the media "<strong><span id="span-delete-x-name"></span></strong>"?</p>
        <p>The operation is unrecoverable!</p>
    </div>
    <div class="modal-footer">
        <a href="javascript:void(0)" id="a-delete-x" class="btn btn-danger">{{ _('Delete') }}</a>
        <a href="javascript:void(0)" class="btn" data-dismiss="modal">{{ _('Cancel') }}</a>
    </div>
</div>

<div class="row sep">
    <div class="span10">
        <h3>{{ _('All Media') }}</h3>
    </div>
</div>

<div class="row">
    <div class="span10">
        <form name="x-filter-form" action="users" class="well form-inline">
            <label>Type:</label>
            <select id="type-filter" name="type">
                <option value="">{{ _('All Media') }}</option>
{% for t in types %}
                <option value="{{ t.id }}">{{ t.name|e }}</option>
{% endfor %}
            </select>
<script type="text/javascript">
$('#type-filter option[value="{{ type }}"]').attr('selected', 'selected');
</script>
            <button type="submit" class="btn">{{ _('Filter') }}</button>
            <a href="add_media" class="btn btn-primary pull-right">{{ _('Add New Media') }}</a>
        </form>
    </div>
</div>

<div class="row">
    <div class="span10">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>{{ _('Thumbnail') }}</th>
                    <th>{{ _('Name') }}</th>
                    <th>{{ _('Size') }}</th>
                    <th>{{ _('URL') }}</th>
                    <th>{{ _('Uploaded Date') }}</th>
                    <th>{{ _('Operations') }}</th>
                </tr>
            </thead>
            <tbody>
{% for m in media %}
                <tr>
                    <td>
                        <div style="display:block;width:90px;text-align:center">
    {% if m.thumbnail %}
                            <img src="{{ m.thumbnail }}" />
    {% else %}
                            <p>{{ m.type }}</p>
    {% endif %}
                        </div>
                    </td>
                    <td>{{ m.name|e }}</td>
                    <td><script type="text/javascript"> document.write(filesize({{ m.size }})); </script></td>
                    <td><a href="{{ m.url }}" target="_blank">{{ m.url|elli }}</a></td>
                    <td>{{ m.creation_time|dt }}</td>
                    <td>
                        <a href="?action=edit&id={{ m.id }}">{{ _('Edit') }}</a> |
                        <a href="javascript:delete_x('{{ m.id }}', '{{ m.name|jsstr }}')">{{ _('Delete') }}</a>
                    </td>
                </tr>
{% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="span10">
        <div class="btn-group">
{% for i in page.nearby() %}
    {% if i==page.index %}
            <button class="btn disabled">{{ i }}</button>
    {% else %}
            <button class="btn" onclick="location.assign('?page={{ i }}')">{{ i }}</button>
    {% endif %}
{% endfor %}
        </div>
    </div>
</div>
