<div class="row sep">
    <div class="span10">
        <h3>{{ form_title }}</h3>
    </div>
</div>

<div id="div-error" class="row hide">
    <div class="span10">
        <div class="alert alert-error">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <span id="span-error"></span>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function() {
        $('#select-menu-type option:first').attr('selected', 'selected');
        selectMenu($('#select-menu-type option:first').attr('value'));
        $('#select-menu-type').change(function() {
            selectMenu($(this).val());
        });
        selectMenu($('#select-menu-type option:first').attr('value'));
        selectMenu('{{ type }}');
        $('#div-{{ type }}-ref .ref').val('{{ ref }}');
    });

    function selectMenu(type) {
        if ($('#select-menu-type').val()!=type)
            $('#select-menu-type').val(type);
        $('div.menu-type').hide();
        $('#div-' + type + '-ref').show();
    }

    function show_error(err, field_name) {
        $('div.control-group').removeClass('error');
        if (err==null || err=='') {
            $('#div-error').hide();
            return false;
        }
        $('#span-error').text(err);
        $('#div-error').show();
        $('#div-' + field_name).addClass('error');
        if ($('#div-error').offset().top < $(window).scrollTop()) {
            $('html,body').animate({scrollTop: $('#div-error').offset().top});
        }
        return false;
    }

    function show_loading(show) {
        if (show) {
            $('#submit').attr('disabled', 'disabled');
            $('#loading').show();
        }
        else {
            $('#submit').removeAttr('disabled');
            $('#loading').hide();
        }
    }

    function ajax_post(form) {
        show_error(null);
        show_loading(true);
        $.postJSON($(form).attr('action'), $(form).serialize(), function(result) {
            if (result.error) {
                show_loading(false);
                show_error(result.error, result.error_field);
            }
            else {
                show_error(null);
                location.assign(result.redirect);
            }
        }).error(function() {
            show_loading(false);
            show_error('Server error!', '');
        });
        return false;
    }
</script>

<div class="row">
    <div class="span10">
        <form id="form-x" action="{{ action }}" method="post" class="form-horizontal" onsubmit="return ajax_post(this)">
            <fieldset>
                <div id="div-name" class="control-group">
                    <label class="control-label">Name:</label>
                    <div class="controls">
                        <input id="name" name="name" type="text" value="{{ name|e }}" class="input-xlarge" />
                        <span class="help-inline">Menu name</span>
                    </div>
                </div>
                <div id="div-description" class="control-group">
                    <label class="control-label">Description:</label>
                    <div class="controls">
                        <input id="description" name="description" type="text" value="{{ description|e }}" class="input-xlarge" />
                        <span class="help-inline">Menu description</span>
                    </div>
                </div>
                <div id="div-menu-type" class="control-group">
                    <label class="control-label">Type:</label>
                    <div class="controls">
                        <select id="select-menu-type" name="type" class="input-xlarge">
{% for m in menus %}
                            <option value="{{ m.type }}" help="{{ m.description|e }}">{{ m.name|e }}</option>
{% endfor %}
                        </select>
                        <span class="help-inline"></span>
                    </div>
                </div>

{% for m in menus %}
                <!-- menu input -->
    {% if m.input_type=='text' %}
                <div id="div-{{ m.type }}-ref" class="menu-type control-group hide">
                    <label class="control-label">{{ m.input_prompt|e }}</label>
                    <div class="controls">
                        <input type="text" name="ref" value="{{ m.supplies }}" class="ref input-xlarge" />
                    </div>
                </div>
    {% elif m.input_type=='select' %}
                <div id="div-{{ m.type }}-ref" class="menu-type control-group hide">
                    <label class="control-label">{{ m.input_prompt|e }}</label>
                    <div class="controls">
                        <select name="ref" class="ref input-xlarge">
        {% for k, v in m.supplies %}
                            <option value="{{ k }}">{{ v|e }}</option>
        {% endfor %}
                        </select>
                    </div>
                </div>
    {% endif %}
                <!-- // menu input -->
{% endfor %}

                <div class="form-actions">
                    <input type="hidden" name="id" value="{{ id }}" />
                    <button type="submit" id="submit" class="btn btn-primary">Save</button>
                    <button type="button" class="btn" onclick="location.assign('menus')">Cancel</button>
                    <span id="loading" class="loading hide">Processing, please wait...</span>
                </div>
            </fieldset>
        </form>
    </div>
</div>
