<div class="row">
    <div class="span10">
        <h3>{{ form_title }}</h3>
    </div>
</div>

<div class="row sep"></div>

<div id="div-error" class="row hide">
    <div class="span10">
        <div class="alert alert-error">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <span id="span-error"></span>
        </div>
    </div>
</div>

<script type="text/javascript">
    function show_error(err, field_name) {
        $('div.control-group').removeClass('error');
        if (err==null || err=='') {
            $('#div-error').hide();
            return false;
        }
        $('#span-error').text(err);
        $('#div-error').show();
        $('#div-' + field_name).addClass('error');
        if ($('#div-error').offset().top < $(window).scrollTop()) {
            $('html,body').animate({scrollTop: $('#div-error').offset().top});
        }
        return false;
    }

    function show_loading(show) {
        if (show) {
            $('#submit').attr('disabled', 'disabled');
            $('#loading').show();
        }
        else {
            $('#submit').removeAttr('disabled');
            $('#loading').hide();
        }
    }

    function ajax_post(form) {
        show_error(null);
        show_loading(true);
        $.postJSON($(form).attr('action'), $(form).serialize(), function(result) {
            if (result.error) {
                show_loading(false);
                show_error(result.error, result.error_field);
            }
            else {
                show_error(null);
                location.assign(result.redirect);
            }
        }).error(function() {
            show_loading(false);
            show_error('Server error!', '');
        });
        return false;
    }
</script>

<div class="row">
    <div class="span10">
        <form id="form-x" action="{{ action }}" method="post" class="form-horizontal" onsubmit="return ajax_post(this)">
            <fieldset>
                <div id="div-enabled" class="control-group">
                    <label class="control-label">{{ _('Enabled') }}:</label>
                    <div class="controls">
                        <label class="checkbox"><input id="enabled" name="enabled" type="checkbox" value="True" class="input-xlarge" /> Enable this plugin</label>
                    </div>
                </div>

<script type="text/javascript">
// {% if enabled %}
    $('#enabled').attr('checked', 'checked');
// {% endif %}
</script>

{% for s in settings %}
  {% set t = s.get('input', 'text') %}
                <div id="div-{{ s.name }}" class="control-group">
                    <label class="control-label">{{ s.name }}:</label>
                    <div class="controls">
                    {% if t=='checkbox' %}
                        {% set ischecked = ' checked=\"checked\" ' if s.value else '' %}
                        <input id="{{ s.key }}" name="{{ s.key }}" type="checkbox" value="True" {{ ischecked }} class="input-xlarge" />
                    {% else %}
                        <input id="{{ s.key }}" name="{{ s.key }}" type="text" value="{{ s.value|e }}" class="input-xlarge" />
                    {% endif %}
                        <span class="help-inline">{{ s.description }}</span>
                    </div>
                </div>
{% endfor %}
                <div class="form-actions">
                    <input type="hidden" name="id" value="{{ id }}" />
                    <button type="submit" id="submit" class="btn btn-primary">{{ _('Save') }}</button>
                    <button type="button" class="btn" onclick="location.assign('{{ plugin_type }}s')">{{ _('Cancel') }}</button>
                    <span id="loading" class="loading hide">{{ _('Processing') }}...</span>
                </div>
            </fieldset>
        </form>
    </div>
</div>
