<script type="text/JavaScript">
    function delete_x(id) {
        var name = $('#tr-' + id + ' td.name').text();
        $('#span-delete-x-name').text(name);
        $('#a-delete-x').attr('href', 'do_delete_role?id='+id);
        $('#delete-modal').modal('show');
    }
</script>

<div id="delete-modal" class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3>Deletion Confirm</h3>
    </div>
    <div class="modal-body">
        <p>Are you sure you want to permanently delete the role "<strong><span id="span-delete-x-name"></span></strong>"?</p>
        <p>This operation is unrecoverable!</p>
    </div>
    <div class="modal-footer">
        <a href="javascript:void(0)" id="a-delete-x" class="btn btn-danger">Delete</a>
        <a href="javascript:void(0)" class="btn" data-dismiss="modal">Close</a>
    </div>
</div>

<div class="row sep">
    <div class="span10">
        <h3>All Roles</h3>
    </div>
</div>

<div class="row sep">
    <div class="span10">
        <a href="?action=add" class="btn btn-primary pull-right">Add New Role</a>
    </div>
</div>

<div class="row">
    <div class="span10">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Privileges</th>
                    <th>Date</th>
                    <th>Operations</th>
                </tr>
            </thead>
            <tbody>
{% for r in roles %}
                <tr id="tr-{{ r.id }}">
                    <td class="name">{{ r.name|e }}</td>
                    <td>{{ r.privileges }}</td>
                    <td>{{ r.creation_time|dt }}</td>
                    <td>
{% if not r.locked %}
                        <a href="?action=edit&id={{ r.id }}">Edit</a> | <a href="javascript:delete_x('{{ r.id }}')">Delete</a>
{% endif %}
                    </td>
                </tr>
{% endfor %}
            </tbody>
        </table>
    </div>
</div>
