<script type="text/JavaScript">
    function delete_x(id) {
        var name = $('#tr-' + id + ' td.name').text();
        $('#span-delete-x-name').text(name);
        $('#a-delete-x').attr('href', 'do_delete_user?id='+id);
        $('#delete-modal').modal('show');
    }
    function activate_theme(id) {
        var name = $('#span-name-' + id).text();
        $('#span-activate-x-name').text(name);
        $('#a-activate-x').attr('href', 'do_activate_theme?id=' + id);
        $('#activate-modal').modal('show');
    }
</script>

<div id="activate-modal" class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3>Activate Confirm</h3>
    </div>
    <div class="modal-body">
        <p>Are you sure you want to use the theme "<strong><span id="span-activate-x-name"></span></strong>"?</p>
    </div>
    <div class="modal-footer">
        <a href="javascript:void(0)" id="a-activate-x" class="btn btn-primary">{{ _('OK') }}</a>
        <a href="javascript:void(0)" class="btn" data-dismiss="modal">{{ _('Cancel') }}</a>
    </div>
</div>

<div id="delete-modal" class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3>Deletion Confirm</h3>
    </div>
    <div class="modal-body">
        <p>Are you sure you want to delete the theme "<strong><span id="span-delete-x-name"></span></strong>"?</p>
        <p>The operation is unrecoverable!</p>
    </div>
    <div class="modal-footer">
        <a href="javascript:void(0)" id="a-delete-x" class="btn btn-danger">{{ _('Delete') }}</a>
        <a href="javascript:void(0)" class="btn" data-dismiss="modal">{{ _('Cancel') }}</a>
    </div>
</div>

<div class="row sep">
    <div class="span10">
        <h3>{{ _('All Themes') }}</h3>
    </div>
</div>

<div class="row">
    <div class="span10">
        <table class="table table-hover">
            <tbody>
{% for t in themes %}
                <tr id="tr-{{ t.name }}"{% if t.active %} class="info"{% endif %}>
                    <td style="width:300px"><img src="{{ t.snapshot }}" class="img-polaroid" /></td>
                    <td>
                        <p>{{ _('Name') }}: <span id="span-name-{{ t.id }}" style="font-weight:bold">{{ t.name|e }}</span></p>
                        <p>{{ _('Author') }}: {{ t.author|e }}</p>
                        <p>{{ _('Description') }}: {{ t.description|e }}</p>
                    </td>
                    <td>
                        {% if t.active %}
                            <i class="icon-ok"></i> {{ _('Enabled') }}
                        {% else %}
                            <button class="btn" onclick="activate_theme('{{ t.id }}')">{{ _('Use This Theme') }}</button>
                        {% endif %}
                    </td>
                </tr>
{% endfor %}
            </tbody>
        </table>
    </div>
</div>
