<div class="row sep">
    <div class="span10">
        <h3>{{ _('Upload Providers') }}</h3>
    </div>
</div>

<div id="div-error" class="row hide">
    <div class="span10">
        <div class="alert alert-error">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <span id="span-error"></span>
        </div>
    </div>
</div>

<script type="text/javascript">
    function selectMenu(type) {
        if ($('#select-menu-type').val()!=type)
            $('#select-menu-type').val(type);
        $('div.menu-type').hide();
        $('div.menu-type input').attr('disabled', 'disabled');
        $('div.menu-type select').attr('disabled', 'disabled');
        $('#div-' + type + '-ref').show();
        $('#div-' + type + '-ref input').removeAttr('disabled');
        $('#div-' + type + '-ref select').removeAttr('disabled');
    }

    function show_error(err, field_name) {
        $('div.control-group').removeClass('error');
        if (err==null || err=='') {
            $('#div-error').hide();
            return false;
        }
        $('#span-error').text(err);
        $('#div-error').show();
        $('#div-' + field_name).addClass('error');
        if ($('#div-error').offset().top < $(window).scrollTop()) {
            $('html,body').animate({scrollTop: $('#div-error').offset().top});
        }
        return false;
    }

    function show_loading(show) {
        if (show) {
            $('#submit').attr('disabled', 'disabled');
            $('#loading').show();
        }
        else {
            $('#submit').removeAttr('disabled');
            $('#loading').hide();
        }
    }

    function ajax_post(form) {
        show_error(null);
        show_loading(true);
        $.postJSON($(form).attr('action'), $(form).serialize(), function(result) {
            if (result.error) {
                show_loading(false);
                show_error(result.error, result.error_field);
            }
            else {
                show_error(null);
                location.assign(result.redirect);
            }
        }).error(function() {
            show_loading(false);
            show_error('{{ _('Server error') }}', '');
        });
        return false;
    }
</script>

<div class="row">
    <div class="span10">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>{{ _('Name') }}</th>
                    <th>{{ _('Description') }}</th>
                    <th>{{ _('Enabled') }}</th>
                    <th>{{ _('Operations') }}</th>
                </tr>
            </thead>
            <tbody>
{% for p in providers %}
                <tr id="tr-{{ p.id }}">
                    <td>{{ p.name|e }}</td>
                    <td>{{ p.description|e }}</td>
                    <td>{% if p.enabled %}<i class="icon-ok"></i>{% else %}<i class="icon-ban-circle"></i>{% endif %}</td>
                    <td><a href="?action=edit&id={{ p.id }}">{{ _('Edit') }}</a></td>
                </tr>
{% endfor %}
            </tbody>
        </table>
    </div>
</div>
