/* style.css */

#div-modal-image {
  display: block;
  width: 320px;
  height: 240px;
  background-position: center center;
  background-repeat: no-repeat;
  margin: 10px auto;
}

div.photo-item {
  float: left;
  width: 160px;
  padding: 8px;
  border: solid 1px #ccc;
  margin: 0px 16px 24px 0px;
}

div.photo-item-checked {
  background-color: #08c;
  color: #fff;
}

div.photo-item-image {
  height: 120px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

div.photo-item-image-clickable {
  cursor: pointer;
}

div.photo-item-label {
  height: 24px;
  margin-bottom: 0px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

div.photo-item-progress {
  height: 24px;
  overflow: hidden;
}
