<script>
    var g_wiki_id = '{{ wiki.id }}';
    var g_wiki_name = '{{ wiki.name|jsstr }}';
    var g_ajaxing = false;

    function is_ajaxing() {
        return g_ajaxing;
    }

    function start_ajax() {
        g_ajaxing = true;
        $('#ajaxing').show();
    }

    function end_ajax() {
        g_ajaxing = false;
        $('#ajaxing').hide();
        show_error(null);
    }

    function set_button_enabled(btn, enabled) {
        if (enabled) {
            btn.removeAttr('disabled');
        }
        else {
            btn.attr('disabled', 'disabled');
        }
    }

    function update_button_group(node) {
        set_button_enabled($('#btn-add'), node!=null);
        set_button_enabled($('#btn-edit'), node!=null && node.id!='');
        set_button_enabled($('#btn-delete'), node!=null && node.id!='' && node.children.length==0);
    }

    function index_of_me(node) {
        var L = node.parent.children;
        for (var i=0; i<L.length; i++) {
            if (L[i]==node) {
                console.log('index of node ' + node.name + ' is ' + i);
                return i;
            }
        }
    }

    function move_api(moved, parent, index) {
        start_ajax();
        var pid = parent.id || 'ROOT';
        $.postJSON('/api/wikis/pages/' + moved.id + '/move/' + pid, {'index': index}, function(result) {
        }, function(err) {
            show_error(err.message || err.error);
        }, function() {
            end_ajax();
        });
    }

    function move_node(moved_node, target_node, position, previous_parent) {
        if (position=='inside') {
            // move to target as first child:
            move_api(moved_node, target_node, 0);
        }
        if (position=='after') {
            // move to target as n position:
            move_api(moved_node, target_node.parent, index_of_me(target_node) + 1);
        }
    }

    function delete_wikipage() {
        var node = $('#tree-wikipages').tree('getSelectedNode');

        show_confirm('Delete Confirm', 'Are you sure you want to delete "' + node.name + '"?', function(btn, fn_hide) {
            $.postJSON('/api/wikis/pages/' + node.id + '/delete', {}, function(result) {
                $('#tree-wikipages').tree('removeNode', node);
            }, function(err) {
                show_error(err.message || err.error, err.data);
            }, function() {
                fn_hide();
            });
        });
    }

    $(function() {
        // load tree data:
        $.getJSON('/api/wikis/{{ wiki.id }}/pages').success(function(result) {
            if (result.error) {
                var err = result.error;
                show_error(err.message || err.error);
                return;
            }
            $('#tree-wikipages').tree({
                data: [{'id': '', 'name': g_wiki_name, 'children': result}],
                autoOpen: true,
                dragAndDrop: true,
                onCanMove: function(node) {
                    return ! is_ajaxing() && node.id!='';
                },
                onCanMoveTo: function(moved_node, target_node, position) {
                    return target_node.id!='';
                },
                onCanSelectNode: function(node) {
                    return ! is_ajaxing();
                }
            });
            $('#tree-wikipages').bind('tree.select', function(event) {
                update_button_group(event.node);
            });
            $('#tree-wikipages').bind('tree.move', function(event) {
                move_node(event.move_info.moved_node, event.move_info.target_node, event.move_info.position, event.move_info.previous_parent);
            });
        }).error(function() {
            show_error('Error when load wiki pages.');
        }).complete(function() {
            $('#loading').hide();
        });

        $('#btn-add').click(function() {
            var $tree = $('#tree-wikipages');
            var node = $tree.tree('getSelectedNode');
            $.postJSON('/api/wikis/' + g_wiki_id + '/pages/create', {'name': 'New Wiki Page', 'content': 'New Wiki Page content', 'parent_id': node.id}, function(result) {
                $tree.tree('appendNode', result, node);
                $tree.tree('openNode', node);
                $tree.tree('selectNode', $tree.tree('getNodeById', result.id));
            }, function(err) {
                show_error(err.message || err.error);
            });
        });

        $('#btn-edit').click(function() {
            var node = $('#tree-wikipages').tree('getSelectedNode');
            location.assign('?action=editpage&id=' + node.id);
        });

        $('#btn-delete').click(function() {
            delete_wikipage();
        });

        $('#btn-refresh').click(function() {
            location.reload();
        });

        $('#btn-back').click(function() {
            location.assign('all_wikis');
        });
    });
</script>

<div class="row">
    <div class="span10">
        <h3>{{ wiki.name|e }}</h3>

        <div class="btn-toolbar">
            <div class="btn-group">
                <button id="btn-back" class="btn btn"><i class="icon-chevron-left"></i> Back</button>
                <button id="btn-refresh" class="btn btn-info"><i class="icon-refresh icon-white"></i> Refresh</button>
                <button id="btn-add" disabled="disabled" class="btn"><i class="icon-plus"></i> Add Wiki Page</button>
                <button id="btn-edit" disabled="disabled" class="btn"><i class="icon-edit"></i> Edit</button>
                <button id="btn-delete" disabled="disabled" class="btn btn-danger"><i class="icon-trash icon-white"></i> Delete</button>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="span10">
        <div class="alert alert-error hide"></div>
        <div class="well">
            <span id="loading">Loading wiki pages...</span>
            <div id="tree-wikipages"></div>
        </div>
    </div>
</div>
