<script type="text/javascript">
    function show_error(err, field_name) {
        $('div.control-group').removeClass('error');
        if (err==null) {
            $('div.alert-error').text('').hide();
            return false;
        }
        $('div.alert-error').text(err).show();
        $('div.field-' + field_name).addClass('error');
        if ($('div.alert-error').offset().top < $(window).scrollTop()) {
            $('html,body').animate({scrollTop: $('div.alert-error').offset().top});
        }
        return false;
    }

    function show_loading(show) {
        if (show) {
            $('span.loading').show();
        }
        else {
            $('span.loading').hide();
        }
    }

    function ajax_post(form) {
        show_error(null);
        show_loading(true);
        $('button[type=submit]').attr('disabled', 'disabled');
        $.postJSON($(form).attr('action'), $(form).serialize()).success(function(result) {
            if (result.error) {
                show_error(result.message, result.data);
                $('button[type=submit]').removeAttr('disabled');
            }
            else {
                location.assign('wikis?action=pages&id={{ wiki.id }}');
            }
        }).error(function() {
            show_error('{{ _('Server error') }}!', '');
            $('button[type=submit]').removeAttr('disabled');
        }).complete(function() {
            show_loading(false);
        });
        return false;
    }
</script>

<div class="row">
    <div class="span10">
        <h3>Wiki Page - {{ page.name|e }}</h3>
        <form name="form-x" action="/api/wikipages/update" method="post" class="form-horizontal" onsubmit="return ajax_post(this)">
            <fieldset>
                <div class="alert alert-error hide"></div>
                <div class="field-name control-group">
                    <label class="control-label">{{ _('Name') }}:</label>
                    <div class="controls">
                        <input id="name" name="name" type="text" value="{{ page.name|e }}" class="input-xlarge" />
                    </div>
                </div>
                <div class="field-content control-group">
                    <div class="btn-group" style="margin-bottom: 6px;">
                        <button type="button" class="btn"><i class="icon-envelope"></i></button>
                        <button type="button" class="btn"><i class="icon-th-list"></i></button>
                        <button type="button" class="btn"><i class="icon-bold"></i></button>
                        <button type="button" class="btn"><i class="icon-italic"></i></button>
                        <button type="button" class="btn"><i class="icon-picture"></i></button>
                        <button type="button" class="btn"><i class="icon-facetime-video"></i></button>
                    </div>
                    <textarea id="markdown-editor" name="content" rows="20" style="width:780px;resize:none;">{{ page.content|e }}</textarea>
                </div>
                <div class="control-group">
                    <div><a href="http://daringfireball.net/projects/markdown/" target="_blank">get full Markdown syntax</a></div>
                </div>
                <div class="form-actions">
                    <input type="hidden" name="id" value="{{ page.id }}" />
                    <button type="submit" id="submit" class="btn btn-primary">{{ _('Save') }}</button>
                    <button type="button" class="btn" onclick="location.assign('{{ 'pages' if static else 'articles' }}')">{{ _('Cancel') }}</button>
                    <span class="loading hide">{{ _('Processing') }}...</span>
                </div>
            </fieldset>
        </form>
    </div>
</div>
