.x-ext-info {
  opacity: 0.75;
}

.x-ext-info i {
  margin-left: 1em;
}

.x-ext-info i:first-child {
  margin-left: 0;
}

.loading {
    background-image: url(../img/loading.gif);
    background-position: 0 0;
}

.wiki ul li a {
  line-height: 24px;
}

.wiki ul li {
  list-style-type: none;
  padding: 0;
}

.wiki ul li.selected {
  list-style-type: square;
}

.wiki ul li.selected > a {
  color: #000;
}

.wiki ul {
  padding: 0 0 0 1em;
  margin: 0;
}
