<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>{{ __title__ }}</title>
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="/static/css/bootstrap.css" />
    <link rel="stylesheet" href="/static/css/custom.css" />
    <link rel="stylesheet" href="/static/css/redactor.css" />
    <script type="text/javascript" src="/static/js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/redactor.min.js"></script>
</head>
<body>

    <div class="container">
        <div class="row sep"></div>
        <div class="row sep">
            <div class="span12">廖雪峰的官方网站</div>
        </div>
        <div class="row">
            <div class="span12">
                <div class="subnav">
                    <ul class="nav nav-pills">
                        <li><a href="/">首页</a></li>
                        <li class="active"><a href="#">IT技术</a></li>
                        <li><a href="#">生活</a></li>
                        <li><a href="#">出版</a></li>
                        <li class="dropdown">
                            <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">iPhone <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#navs">Nav, tabs, pills</a></li>
                                <li><a href="#navbar">Navbar</a></li>
                                <li><a href="#breadcrumbs">Breadcrumbs</a></li>
                                <li><a href="#pagination">Pagination</a></li>
                            </ul>
                        </li>
                        <li><a href="#">iPad</a></li>
                        <li class="active dropdown">
                            <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">我的简历 <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#navs">中文简历</a></li>
                                <li><a href="#navbar">英文简历</a></li>
                            </ul>
                        </li>
                        <li class="right"><span><a href="#">帮助</a></span></li>
                        <li class="right"><span><a href="#">登录</a></span></li>
                        <li class="right"><span style="padding-top: 6px"><form class="navbar-search"><input name="q" class="navbar-search-query span2" placeholder="请输入关键字" /></form></span></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row sep"></div>

        <div class="row">
            <div class="span9">
                <div class="box">
                    <h4>立刻注册</h4>
                    <p>haha</p>
                    <p>haha</p>
                    <p>haha</p>
                    <p>haha</p>
                </div>
            </div>
            <div class="span3">
                <div class="box">
                    <h4>立刻注册</h4>
                    <p>haha</p>
                    <p>haha</p>
                    <p>haha</p>
                    <p>haha</p>
                </div>
                <div class="sep"></div>
                <div class="well">
                    <h3>立刻注册</h3>
                    <p>haha</p>
                    <p>haha</p>
                    <p>haha</p>
                    <p>haha</p>
                </div>
            </div>
        </div>

        <div class="row" style="height: 24px"></div>

        <div class="row">
            <div class="span12">
                <ul class="breadcrumb">
                    <li><a href="#">首页</a> <span class="divider">/</span></li>
                    <li><a href="#">我的账户</a> <span class="divider">/</span></li>
                    <li class="active">设置</li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="span9">
                <div id="main-carousel" class="carousel slide" style="width:640px">
                    <div class="carousel-inner">
                        <div class="item active">
                            <img src="/static/img/01.jpg" />
                            <div class="carousel-caption">
                                <h4>海上明珠：卡布里岛</h4>
                                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                            </div>
                        </div>
                        <div class="item">
                            <img src="/static/img/02.jpg" />
                            <div class="carousel-caption">
                                <h4>Second Thumbnail label</h4>
                                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                            </div>
                        </div>
                        <div class="item">
                            <img src="/static/img/03.jpg" />
                            <div class="carousel-caption">
                                <h4>Third Thumbnail label</h4>
                                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                            </div>
                        </div>
                    </div>
                    <a class="left carousel-control" href="#main-carousel" data-slide="prev">&lsaquo;</a>
                    <a class="right carousel-control" href="#main-carousel" data-slide="next">&rsaquo;</a>
                </div>
            </div>
        </div>

        <div class="row" style="height:24px"></div>

        <div class="row">
            <div class="span12">
                <button class="btn">普通</button>
                <button class="btn btn-primary">确定 OK</button>
                <button class="btn btn-warning">警告</button>
                <button class="btn btn-danger">删除</button>
            </div>
        </div>

        <div class="row sep"></div>

        <div class="row">
            <div class="span12">
                <div style="border-top: 1px solid #e5e5e5;"></div>
            </div>
        </div>

        <div class="row" style="padding-top: 16px; padding-bottom: 16px;">
            <div class="span6">
                <p><a href="/">廖雪峰的官方网站</a>，Copyright&copy;2012</p>
                <p>由<a href="http://itranswarp/" target="_blank">iTranswarp</a>，<a href="http://iwarpsite/" target="_blank">iWarpSite</a>驱动</p>
            </div>
            <div class="span4">
                <p>@<a href="http://weibo.com/liaoxuefeng" target="_blank">廖雪峰</a></p>
            </div>
            <div class="span2">
                <p><a href="http://sae.sina.com.cn" target="_blank"><img src="http://static.sae.sina.com.cn/image/poweredby/120X33_transparent.gif" title="Powered by Sina App Engine"></a></p>
            </div>
        </div>
    </div>
</body>
</html>
