{% macro pagination(page_obj, url) %}
    {% set page_index = page_obj.page_index %}
    {% set page_list = page_obj.page_list() %}
                <div class="pagination pagination-centered">
                    <ul>
        {% for index in page_list %}
            {% if index == page_index %}
                        <li class="active"><span>{{ index }}</span></li>
            {% elif index %}
                        <li><a href="{{ url }}{{ index }}">{{ index }}</a></li>
            {% else %}
                        <li class="disabled"><span>...</span></li>
            {% endif %}
        {% endfor %}
                    </ul>
                </div>
{% endmacro %}
