{% macro pagination(page_obj, url) %}
    {% set page_index = page_obj.page_index %}
    {% set page_list = page_obj.page_list() %}
                <div class="pagination pagination-centered">
                    <ul>
        {% for index in page_list %}
            {% if index == page_index %}
                        <li class="active"><span>{{ index }}</span></li>
            {% elif index %}
                        <li><a href="{{ url }}{{ index }}">{{ index }}</a></li>
            {% else %}
                        <li class="disabled"><span>...</span></li>
            {% endif %}
        {% endfor %}
                    </ul>
                </div>
{% endmacro %}

{% macro show_comments(comments) %}
    <div class="row"><a name="comments"></a><h3>{{ _('Comments') }}</h3></div>
    {% for c in comments %}
    <div class="row">
        <div style="width:100px;float:left;">
            <img src="{{ c.user_image_url }}" class="img-polaroid" style="margin-bottom: 14px" />
        </div>
        <div style="width:595px;float:left;">
            <div class="quote right">
                <div class="arrow"></div>
                <div class="quote-inner">
                    {{ c.content }}
                    <p style="font-style:italic; color:#999;">{{ c.user_name|e }} posted at {{ c.creation_time|dt }}</p>
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <div class="row"><div style="margin-bottom:20px;">No comment.</div></div>
    {% endfor %}
{% endmacro %}

{% macro post_comments(url) %}
    <div class="panel">
        <div class="panel-heading"><h3>{{ _('Post a comment') }}</h3></div>
        <div class="panel-inner">
        {% if __user__ %}
            <form name="post-a-comment" action="{{ url }}" method="post" onsubmit="return ajaxPostComment(this)" style="margin-bottom:0">
                <div class="alert alert-error hide"></div>
                <div class="field-content control-group"><textarea name="content" rows="8" style="width:650px; resize:none;"></textarea></div>
                <div><button type="submit" class="btn btn-primary"><i class="icon-comment icon-white"></i> {{ _('Post') }}</button></div>
            </form>
        {% else %}
            <p>Please sign in to post a comment:</p>
            <div class="btn-group">
                <a href="/auth/signin" class="btn">Sign In</a>
            {% if __signins__ %}
                <a class="btn dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
                <ul class="dropdown-menu">
                {% for s in __signins__ %}
                    <li><a href="/auth/from/{{ s.id }}"><i class="icon-x" style="background-repeat:no-repeat;background-position:left center;background-size:14px 14px; background-image:url({{ s.icon }});"></i> {{ s.name|e }}</a></li>
                {% endfor %}
                </ul>
            {% endif %}
            </div>
        {% endif %}
        </div>
        <div class="panel-footer x-ext-info">
            <i class="icon-comment"></i> Your comment will be synchronized to SNS
        </div>
    </div>
{% endmacro %}
