{% macro pagination(page_obj, url) %}
    {% set page_index = page_obj.page_index %}
    {% set page_list = page_obj.page_list() %}
                <div class="pagination pagination-centered">
                    <ul>
        {% for index in page_list %}
            {% if index == page_index %}
                        <li class="active"><span>{{ index }}</span></li>
            {% elif index %}
                        <li><a href="{{ url }}{{ index }}">{{ index }}</a></li>
            {% else %}
                        <li class="disabled"><span>...</span></li>
            {% endif %}
        {% endfor %}
                    </ul>
                </div>
{% endmacro %}

{% macro show_comments(comments) %}
    <div class="row"><a name="comments"></a><h3>Comments</h3></div>
    {% for c in comments %}
    <div class="row">
        <div style="width:100px;float:left;">
            <img src="{{ c.user_image_url }}" class="img-polaroid" style="margin-bottom: 14px" />
        </div>
        <div style="width:595px;float:left;">
            <div class="quote right">
                <div class="arrow"></div>
                <div class="quote-inner">
                    {{ c.content }}
                    <p style="font-style:italic; color:#999;">{{ c.user_name|e }} posted at {{ c.creation_time|dt }}</p>
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <div class="row"><div style="margin-bottom:20px;">No comment.</div></div>
    {% endfor %}
{% endmacro %}
