{% include __get_theme_path__('__inc_header.html') %}

        <div class="row">
            <div class="span9">
                <div class="albums">
{% for a in albums %}
    {% set url = '/static/img/empty-album.png' %}
    {% if a.cover_resource_id %}
        {% set url = '/api/resource/url/%s' % a.cover_resource_id %}
    {% endif %}
                    <div class="album">
                        <a href="/album/{{ a.id }}" class="album-cover" style="background-image:url({{ url }})"></a>
                        <div class="album-name">{{ a.name|e }}</div>
                    </div>
{% endfor %}
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="span3">
                <div class="box">
                    <h4>{{ _('Recent Photos') }}</h4>
                </div>
            </div>
        </div>

{% include __get_theme_path__('__inc_footer.html') %}
