{% include __get_theme_path__('__inc_header.html') %}

        <div class="row">
            <div class="span9">
                <div class="row sep">
                    <div class="span9">
                        <h3>{{ article.name }}</h3>
                    </div>
                </div>
                <div class="row sep">
                    <div class="span9">
                        <p>Posted at {{ article.creation_time|dt }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="span9">
                        {{ article.content }}
                    </div>
                </div>
            </div>
            <div class="span3">
                <div class="box">
                    <h4>Categories</h4>
{% for c in __layout_categories__ %}
                    <p><a href="/category/{{ c.id }}">{{ c.name|e }}</a></p>
{% endfor %}
                </div>
                <div class="sep"></div>
                <div class="well">
                    <h3>立刻注册</h4>
                    <p>haha</p>
                    <p>haha</p>
                    <p>haha</p>
                    <p>haha</p>
                </div>
            </div>
        </div>

{% include __get_theme_path__('__inc_footer.html') %}
