{% import __get_theme_file__('_inc_macros.html') as macros %}
{% include __get_theme_file__('_inc_header.html') %}

    <div id="main" class="container">
        <div class="row" style="margin-top:20px;">
            <div class="span9">
                <div style="margin-right:25px;">
                {% for a in articles %}
                    <div class="panel">
                        <div class="panel-heading"><h3><a href="/article/{{ a.id }}">{{ a.name|e }}</a></h3></div>
                        <div class="panel-inner">
                            ...
                        </div>
                        <div class="panel-footer x-ext-info">
                            <i class="icon-user"></i> {{ a.user_name|e }} <i class="icon-time"></i> {{ a.publish_time|dt }} <i class="icon-eye-open"></i> 0 <i class="icon-comment"></i> 0
                        </div>
                    </div>
                {% endfor %}
                    {{ macros.pagination(page, '/category/%s/' % category.id) }}
                </div>
            </div>
            <div class="span3">
                <div class="panel">
                    <div class="panel-heading"><h3>Categories</h3></div>
                    <div class="panel-inner">
                    {% for c in categories %}
                        <p><a href="/category/{{ c.id }}">{{ c.name|e }}</a></p>
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% include __get_theme_file__('_inc_footer.html') %}
