{% include __get_theme_path__('__inc_header.html') %}

        <div class="row">
            <div class="span9">
                <div class="row sep">
                    <div class="span9">
                        <h3>{{ _('Profile') }}</h3>
                    </div>
                </div>
                <div class="row sep">
                    <div class="span9">
                        <form id="form-x" action="/profile" method="post" class="form-horizontal" onsubmit="return ajax_post(this)">
                            <fieldset>
                                <div id="div-name" class="control-group">
                                    <label class="control-label">{{ _('Name') }}:</label>
                                    <div class="controls">
                                        <input id="name" name="name" type="text" value="{{ ctx.user.name }}" class="input-xlarge" readonly="readonly" />
                                    </div>
                                </div>
                                <div id="div-email" class="control-group">
                                    <label class="control-label">{{ _('Email') }}:</label>
                                    <div class="controls">
                                        <input id="email" name="email" type="text" value="{{ ctx.user.email }}" class="input-xlarge" readonly="readonly" />
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>

            <div class="span3">
                <div>
                    <img src="{{ ctx.user.image_url }}" />
                </div>
            </div>
        </div>

{% include __get_theme_path__('__inc_footer.html') %}
